Repository viamrobotics/rdk, pull requests merged in 2023-10, with the labels that each got.

#3020 RSDK-5220 - Early exit reconfiguration on context.Done()
  robot/impl/local_robot.go
  robot/impl/resource_manager.go
  robot/impl/robot_reconfigure_test.go
Labels: safe to test

#3022 APP-2828 Allow string pin names in board card
  web/frontend/package.json
  web/frontend/src/components/board/index.svelte
Labels: safe to test

#2986 Rsdk 4799 stubs2
  go.mod
  go.sum
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/client.go
  services/motion/client_test.go
  services/motion/motion.go
  services/motion/motion_configuration.go
  services/motion/motion_test.go
  services/motion/pbhelpers.go
  services/motion/server.go
  services/motion/server_test.go
  testutils/inject/motion_service.go
Labels: safe to test

#3013 RSDK-4843 Add warning message for angular velocity change
  motionplan/tpspace/ptgGroupFrame.go
Labels: safe to test

#3021 DATA-2031 publish CLI for windows
  .github/workflows/cli.yml
  Makefile
  go.mod
  go.sum
Labels: safe to test

#2979 [RSDK-3802] remove analogs and interrupts from the customlinux config
  components/board/customlinux/board.go
  components/board/customlinux/setup.go
  components/board/customlinux/setup_test.go
Labels: safe to test

#2997 RSDK-4737: Create robot/location api-keys from the client
  cli/app.go
  cli/auth.go
  cli/auth_test.go
  cli/client_test.go
  cli/print.go
Labels: safe to test

#3002 [RSDK-5198] Change units in UR driver to match config field units
  components/arm/universalrobots/ur.go
  components/arm/universalrobots/ur5e_test.go
Labels: safe to test

#3006 bug fix: make obstacles_distance no longer uses buggy MergePointCloud function
  services/vision/obstaclesdistance/obstacles_distance.go
  services/vision/obstaclesdistance/obstacles_distance_test.go
Labels: safe to test

#3009 RSDK-4730 - Create constructor for PlanRequest, deprecate other motionplan endpoints
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
Labels: safe to test

#3023 RSDK-5062 Disable Explore Mode in Nav
  go.mod
  go.sum
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  services/navigation/client.go
  services/navigation/client_test.go
  services/navigation/navigation.go
  services/navigation/server.go
  services/navigation/server_test.go
Labels: safe to test

#3024 RSDK-5027 Add Analogwriter
  components/board/board.go
  components/board/client.go
  components/board/client_test.go
  components/board/fake/board.go
  components/board/genericlinux/board.go
  components/board/hat/pca9685/pca9685.go
  components/board/numato/board.go
  components/board/pi/impl/board.go
  components/board/server.go
  components/board/server_test.go
  testutils/inject/board.go
Labels: safe to test

#3017 Replay movement sensor improvements
  components/movementsensor/client.go
  components/movementsensor/properties.go
  components/movementsensor/replay/replay.go
  components/movementsensor/replay/replay_test.go
  components/movementsensor/replay/replay_utils_test.go
  components/movementsensor/server.go
Labels: safe to test

#3026 APP-2452: Fix confusing error on misformatted 'model' field
  resource/model.go
  resource/model_test.go
Labels: safe to test

#3019 [RSDK-3906] remove past restrictions on replay camera
  components/camera/replaypcd/replaypcd.go
  components/camera/replaypcd/replaypcd_test.go
  components/movementsensor/replay/replay.go
  components/movementsensor/replay/replay_test.go
Labels: safe to test, appimage-ignore-tests

#3030 [RSDK-5240] Let the PCA9685 component talk directly to the I2C bus
  components/board/genericlinux/i2c.go
  components/board/hat/pca9685/pca9685.go
Labels: safe to test

#3031 RSDK-5264 remove reserved characters from filenames
  cli/data.go
  cli/data_test.go
Labels: safe to test

#3032 remove unused config value from PCA9685
  components/board/hat/pca9685/pca9685.go
Labels: safe to test

#3029 RSDK-5177 RSDK-5178 Move common analog config to generic linux only
  components/board/genericlinux/board.go
  components/board/genericlinux/board_test.go
  components/board/genericlinux/config.go
  components/board/mcp3008.go
  components/board/pi/impl/board.go
  components/board/pi/impl/board_test.go
Labels: safe to test

#3037 RSDK-5271 Fix move_request for MoveOnGlobe to always plan relative to the base's current pose
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
Labels: safe to test

#3034 Modify file name in metadata on export
  cli/data.go
Labels: safe to test

#3038 The PCA9685 is Linux-only
  components/board/hat/pca9685/pca9685.go
  components/board/hat/pca9685/pca9685_nonlinux.go
Labels: safe to test

#3039 [DATA-2050] Bug fixes for data export CLI
  cli/data.go
  cli/data_test.go
Labels: safe to test

#3028 RSDK-5066 Add map_type and Explore mode
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  services/navigation/builtin/explore.go
  services/navigation/data/nav_no_map_cfg.json
  services/navigation/data/nav_no_map_cfg_minimal.json
  services/navigation/navigation.go
  services/navigation/store.go
Labels: safe to test

#3042 [DATA-2051] Add Training API methods to CLI
  cli/app.go
  cli/auth.go
  cli/client.go
  cli/train.go
Labels: safe to test

#3016 RSDK-4858 - Implement implicit Properties for replay movement sensor
  components/movementsensor/replay/replay.go
  components/movementsensor/replay/replay_test.go
  components/movementsensor/replay/replay_utils_test.go
Labels: safe to test

#3035 RSDK-5074 RSDK-5293 Update common analog config
  components/board/analog_smoother.go
  components/board/analog_smoother_test.go
  components/board/config.go
  components/board/fake/board.go
  components/board/fake/board_test.go
  components/board/genericlinux/board.go
  components/board/numato/board.go
  components/board/numato/board_test.go
  components/board/pi/impl/board.go
  components/input/gpio/gpio_test.go
  config/config_test.go
  config/diff_test.go
  robot/impl/resource_manager_test.go
Labels: safe to test

#3053 RSDK-5325 - MRR should gracefully handle a v prefix for semver
  cli/module_registry.go
Labels: safe to test

#3049 RSDK-5285: Add logging configuration structures.
  config/config.go
  config/config_test.go
  config/data/config_with_log.json
  config/global_log_config.go
  logging/logging.go
  logging/logging_test.go
  resource/config.go
Labels: safe to test

#3052 Use the GetImages ResponseMetadata timestamp for the data capture timestamp
  services/datamanager/datasync/upload_data_capture_file.go
Labels: safe to test

#3004 RSDK-4937 use new canon base images
  .github/workflows/appimage.yml
  .github/workflows/docker.yml
  .github/workflows/motion-benchmarks.yml
  .github/workflows/pullrequest-trusted.yml
  .github/workflows/staticbuild.yml
  .github/workflows/test.yml
  Makefile
  docker.make
  etc/Dockerfile.cache
  etc/packaging/appimages/viam-server.yml
  packaging.make
Labels: safe to test, appimage-ignore-tests, static-build

#3025 APP-2833: Add Headers for Package File Handler Authentication (secret-based)
  robot/impl/local_robot.go
  robot/packages/cloud_package_manager.go
  robot/packages/cloud_package_manager_test.go
Labels: safe to test

#3056 RSDK-5328: Clean up api+model parsing code.
  resource/api.go
  resource/api_model_test.go
  resource/model.go
  resource/model_test.go
  resource/resource_test.go
Labels: safe to test

#3050 UI error handling, loading states
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#3045 RSDK-4712 Ensure all camera structs have loggers and fulfill the resource.Named interface.
  components/camera/align/extrinsics.go
  components/camera/align/homography.go
  components/camera/align/join.go
  components/camera/camera.go
  components/camera/fake/camera.go
  components/camera/ffmpeg/ffmpeg.go
  components/camera/rtsp/rtsp.go
  components/camera/rtsp/rtsp_test.go
  components/camera/transformpipeline/composed_test.go
  components/camera/transformpipeline/pipeline.go
  components/camera/transformpipeline/pipeline_test.go
  components/camera/transformpipeline/segmenter_test.go
  components/camera/ultrasonic/ultrasonic.go
  components/camera/ultrasonic/ultrasonic_test.go
  components/camera/velodyne/velodyne.go
  components/camera/videosource/join_pointcloud.go
  components/camera/videosource/server.go
  components/camera/videosource/static.go
  components/camera/videosource/static_test.go
  robot/impl/resource_manager_test.go
  services/vision/obstaclesdepth/obstacles_depth_test.go
Labels: safe to test

#3041 Update nav cfg
  go.mod
  go.sum
  services/motion/motion.go
  services/motion/motion_configuration.go
  services/motion/motion_test.go
  services/motion/server_test.go
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  services/navigation/data/nav_cfg.json
  services/navigation/data/nav_no_map_cfg.json
  services/navigation/data/nav_no_map_cfg_minimal.json
Labels: safe to test

#3062 RSDK-5318 - Update proto conversions with new module fields
  config/module.go
  config/proto_conversions.go
  config/proto_conversions_test.go
  go.mod
  go.sum
  module/modmanager/manager.go
Labels: safe to test

#3066 RSDK-5315 - Skip flaky test until bug fix is in
  components/movementsensor/replay/replay_test.go
Labels: safe to test

#3063 APP-2546 - add namespace to organizations list CLI command
  cli/client.go
  cli/client_test.go
Labels: safe to test

#3067 RSDK-5063 upload 32-bit appimage
  .github/workflows/appimage.yml
Labels: safe to test

#3069 fix appimage for RC case
  .github/workflows/appimage.yml
Labels: safe to test

#3057 Fix compass heading coordinate system to convert from left-handedness to right-handedness
  services/motion/builtin/builtin_test.go
  services/motion/localizer.go
  services/motion/localizer_test.go
Labels: safe to test

#3076 revert appimage workflow
  .github/workflows/appimage.yml
Labels: safe to test

#3072 [RSDK-5240] the I2C bus number should be a string, in case it's not a number
  components/board/genericlinux/i2c.go
  components/board/hat/pca9685/pca9685.go
Labels: safe to test

#3043 APP-2595: Support new API key authentication in RDK
  robot/web/web.go
  robot/web/web_test.go
Labels: safe to test

#3073 RSDK-5368 Add more safety and inline docs about logical clocks in resource graph
  resource/graph_node.go
  resource/resource_graph.go
  resource/resource_graph_test.go
  robot/impl/local_robot.go
Labels: safe to test

#3040 RSDK-5269 - CLI Support single file uploads and auto-compression
  cli/app.go
  cli/archive.go
  cli/archive_test.go
  cli/boards.go
  cli/module_registry.go
Labels: safe to test

#3081 increase replay imu properties timeout
  components/movementsensor/replay/replay.go
Labels: appimage, safe to test

#3082 RSDK-5179 Numato bug fixes
  components/board/numato/board.go
Labels: safe to test

#3086 [DATA-2064] Replace colons in file paths since not always supported
  services/datamanager/builtin/builtin.go
Labels: safe to test

#3044 [DATA-1899] Switch delete CLI action to have tabular and binary subcommands
  cli/app.go
  cli/data.go
Labels: safe to test

#3074 [DATA-2060] Move corrupted data capture files into a separate directory
  services/datamanager/builtin/builtin.go
  services/datamanager/builtin/sync_test.go
  services/datamanager/datasync/sync.go
Labels: safe to test

#3036 RSDK-4818 - Create navigation.GetPaths GRPC stubs
  examples/customresources/models/mynavigation/mynavigation.go
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  services/navigation/client.go
  services/navigation/client_test.go
  services/navigation/navigation.go
  services/navigation/path.go
  services/navigation/path_test.go
  services/navigation/server.go
  services/navigation/server_test.go
  testutils/inject/navigation_service.go
Labels: safe to test

#3083 RSDK-4831: fix ResetZeroPosition for encoded motor
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
Labels: safe to test

#3087 [DATA-2064] Replace reserved characters in the filename in addition to the file directory
  services/datamanager/builtin/builtin.go
  services/datamanager/datacapture/data_capture_file.go
Labels: safe to test

#3089 Replace filepath regardless of OS in both collectors and the export CLI
  cli/data.go
  cli/data_test.go
  services/datamanager/builtin/builtin.go
  services/datamanager/datacapture/data_capture_file.go
Labels: safe to test

#3085 RSDK-5375: Simplify resource graph traversal.
  resource/resource_graph.go
Labels: safe to test

#3060 Use @viamrobotics/prime-blocks for navigation and slam maps
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/motor/index.svelte
  web/frontend/src/components/navigation/components/input/geometry.svelte
  web/frontend/src/components/navigation/components/input/lnglat.svelte
  web/frontend/src/components/navigation/components/input/orientation.svelte
  web/frontend/src/components/navigation/components/map.svelte
  web/frontend/src/components/navigation/components/marker.svelte
  web/frontend/src/components/navigation/components/nav/index.svelte
  web/frontend/src/components/navigation/components/nav/obstacles.svelte
  web/frontend/src/components/navigation/components/nav/waypoints.svelte
  web/frontend/src/components/navigation/components/obstacle-layer.svelte
  web/frontend/src/components/navigation/components/obstacle.svelte
  web/frontend/src/components/navigation/components/robot-marker.svelte
  web/frontend/src/components/navigation/components/scene.svelte
  web/frontend/src/components/navigation/components/waypoints.svelte
  web/frontend/src/components/navigation/hooks/use-base-pose.ts
  web/frontend/src/components/navigation/hooks/use-nav-client.ts
  web/frontend/src/components/navigation/hooks/use-nav-mode.ts
  web/frontend/src/components/navigation/hooks/use-waypoints.ts
  web/frontend/src/components/navigation/index.svelte
  web/frontend/src/components/navigation/lib/bounding-box.ts
  web/frontend/src/components/navigation/lib/obstacle.ts
  web/frontend/src/components/navigation/plugins/compute-bounding.ts
  web/frontend/src/components/navigation/plugins/render.ts
  web/frontend/src/components/navigation/stores.ts
  web/frontend/src/components/navigation/style.ts
  web/frontend/src/components/remote-control-cards.svelte
  web/frontend/src/components/slam/2d/constants.ts
  web/frontend/src/components/slam/2d/helpers.svelte
  web/frontend/src/components/slam/2d/index.svelte
  web/frontend/src/components/slam/2d/legend.svelte
  web/frontend/src/components/slam/2d/marker.svelte
  web/frontend/src/components/slam/2d/motion-path.svelte
  web/frontend/src/components/slam/2d/points.svelte
  web/frontend/src/components/slam/2d/scene.svelte
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/stores/persisted.ts
  web/frontend/tailwind.config.ts
Labels: safe to test

#3093 RSDK-5353: Adding satellites in view to Readings
  components/movementsensor/fake/movementsensor.go
  components/movementsensor/gpsnmea/gpsnmea.go
  components/movementsensor/gpsnmea/pmtkI2C.go
  components/movementsensor/gpsnmea/serial.go
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
Labels: safe to test

#3084 APP-2890: Support ExternalAuth + APIKey in CLI Board Download
  cli/auth_test.go
  cli/boards.go
  cli/boards_test.go
  cli/client_test.go
  go.mod
  go.sum
  module/server.go
Labels: safe to test

#3095 Fix Modmanager Module Config Retrieval
  config/module.go
  module/modmanager/manager.go
Labels: safe to test

#3077 RSDK-5316 - Add placeholder support for environment variables
  config/placeholder_replacement.go
  config/placeholder_replacement_test.go
Labels: safe to test

#3092 [RSDK-5241] Make the ezopmp motor talk directly to the I2C bus
  components/motor/i2cmotors/ezopmp.go
  components/motor/i2cmotors/ezopmp_nonlinux.go
Labels: safe to test

#3047 RSDK-5024: Add Sensor interface in resource.go that implements getReadings and embed that interface into powersensor movement sensor and sensor
  components/movementsensor/client.go
  components/movementsensor/client_test.go
  components/movementsensor/movementsensor.go
  components/movementsensor/server.go
  components/movementsensor/server_test.go
  components/movementsensor/wheeledodometry/wheeledodometry.go
  components/powersensor/client.go
  components/powersensor/powersensor.go
  components/powersensor/server.go
  components/powersensor/server_test.go
  components/sensor/client.go
  components/sensor/sensor.go
  components/sensor/server.go
  components/sensor/server_test.go
  go.mod
  go.sum
  resource/resource.go
  testutils/inject/movementsensor.go
  testutils/inject/powersensor.go
Labels: safe to test

#3098 rsdk-3858: remove agilex limo base model, moved to module
  components/base/agilex/limo_base.go
  components/base/agilex/limo_base_test.go
  components/base/agilex/verify_main_test.go
  components/base/register/register.go
Labels: safe to test

#3099 RSDK-4293 Upgrade goutils to v0.1.52
  go.mod
  go.sum
Labels: safe to test

#3101 Remove prime blocks and core as peer dependencies
  web/frontend/package.json
Labels: safe to test

#3102 [DATA-2075] Revert "[DATA-2022] Allow the user to configure how long the syncer waits to upload a file since it was last modified"
  services/datamanager/builtin/builtin.go
  services/datamanager/builtin/export_test.go
  services/datamanager/builtin/sync_test.go
  services/datamanager/internal/data_manager_test_helper.go
Labels: safe to test

#3096 RSDK-5227 Extend Velodyne to include VLP16 and associated hardware
  components/camera/velodyne/velodyne.go
Labels: safe to test

#3090 RSDK-3534 Expose `LastReconfigured` timestamp in resource `Status`
  resource/graph_node.go
  resource/resource_graph_test.go
  robot/client/client.go
  robot/client/client_test.go
  robot/impl/local_robot.go
  robot/impl/local_robot_test.go
  robot/robot.go
  robot/server/server.go
  robot/server/server_test.go
Labels: safe to test

#3054 RSDK-4508 add replan function to motionplan package
  components/base/kinematicbase/fake_kinematics.go
  motionplan/errors.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/planManager.go
  motionplan/plannerOptions.go
  motionplan/rrtStarConnect.go
  motionplan/solverFrame.go
  motionplan/tpspace/ptg.go
  motionplan/utils.go
  motionplan/utils_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
Labels: safe to test

#3105 RSDK-5063 include 32-bit appimage in deployment
  .github/workflows/appimage.yml
Labels: safe to test

#3046 [RSDK-5225] have robot cli not depend on listrobots
  cli/client.go
Labels: safe to test

#3108 RSDK-5401: set linear velocity to 0 instead of NaN
  components/movementsensor/gpsnmea/pmtkI2C.go
  components/movementsensor/gpsnmea/serial.go
Labels: safe to test

#3109 RSDK-5063 run test suite on 32 bit
  .github/workflows/docker.yml
  .github/workflows/main.yml
  .github/workflows/pullrequest-trusted.yml
  .github/workflows/releasecandidate.yml
  .github/workflows/stable.yml
  .github/workflows/test.yml
  components/camera/transformpipeline/classifier_test.go
  components/camera/transformpipeline/detector_test.go
  examples/customresources/demos/complexmodule/moduletest/module_test.go
  examples/customresources/demos/remoteserver/server_test.go
  ml/inference/tflite_test.go
  module/module_interceptors_test.go
  services/mlmodel/tflitecpu/tflite_cpu_test.go
  services/vision/mlvision/ml_model_test.go
  web/server/entrypoint_test.go
Labels: safe to test

#3113 RSDK-5063 include zsync in 32-bit upload
  .github/workflows/appimage.yml
Labels: safe to test

#2991 [RSDK-3695] Implement a control Loop for SetVelocity in sensor-controlled base
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/sensorcontrolled_test.go
  components/base/sensorcontrolled/velocities.go
  components/motor/gpio/loop.go
  control/control.go
  control/control_loop.go
  control/control_loop_test.go
  control/endpoint.go
Labels: safe to test

#3114 RSDK-3743 implement geometry interface functions in basic octree
  pointcloud/basic_octree.go
  pointcloud/basic_octree_test.go
  pointcloud/basic_octree_utils.go
Labels: safe to test

#3106 cli command to update models in meta.json
  cli/app.go
  cli/module_registry.go
  module/modmanager/manager.go
  module/modmaninterface/interface.go
Labels: safe to test

#3088 [RSDK-4174] Update refresh rates for cloudslam
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#3100 [RSDK-5387] require api key when using a replay sensor
  components/camera/replaypcd/replaypcd.go
  components/camera/replaypcd/replaypcd_test.go
  components/movementsensor/replay/replay.go
  components/movementsensor/replay/replay_test.go
  config/reader.go
  internal/cloud/service.go
  internal/testutils/inject/cloud_connection.go
Labels: safe to test, appimage-ignore-tests

#3117 RSDK-2493 remove session stop deadline from test
  robot/session_test.go
Labels: safe to test

#3115 [RSDK-5242] make sht3xd talk directly to the I2C bus all the time
  components/sensor/sht3xd/sht3xd.go
  components/sensor/sht3xd/sht3xd_nonlinux.go
Labels: safe to test

#3122 skip TestCheckPlan
  services/motion/builtin/builtin_test.go
Labels: safe to test

#3124 RSDK-5403 fix flaky test TestReachOverArm
  motionplan/motionPlanner_test.go
Labels: safe to test

#3116 Use standard js-config: ESLint step
  web/frontend/.eslintignore
  web/frontend/.eslintrc.cjs
  web/frontend/.prettierrc.cjs
  web/frontend/cypress/e2e/robot-components/base.cy.ts
  web/frontend/cypress/support/commands.ts
  web/frontend/cypress/support/e2e.ts
  web/frontend/jshashes.d.ts
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/postcss.config.cjs
  web/frontend/src/api/do-command.ts
  web/frontend/src/api/navigation.ts
  web/frontend/src/api/types/navigation.ts
  web/frontend/src/components/arm/index.svelte
  web/frontend/src/components/base/index.svelte
  web/frontend/src/components/board/index.svelte
  web/frontend/src/components/camera/camera-manager.ts
  web/frontend/src/components/camera/camera.svelte
  web/frontend/src/components/camera/index.svelte
  web/frontend/src/components/do-command/index.svelte
  web/frontend/src/components/encoder/index.svelte
  web/frontend/src/components/gamepad/index.svelte
  web/frontend/src/components/gantry/index.svelte
  web/frontend/src/components/keyboard-input/index.svelte
  web/frontend/src/components/motor/index.svelte
  web/frontend/src/components/navigation/components/vector-input.svelte
  web/frontend/src/components/navigation/hooks/use-nav-mode.ts
  web/frontend/src/components/navigation/index.svelte
  web/frontend/src/components/operations-sessions/index.svelte
  web/frontend/src/components/pcd/index.svelte
  web/frontend/src/components/pcd/pcd-view.svelte
  web/frontend/src/components/remote-control-cards.svelte
  web/frontend/src/components/servo/index.svelte
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/lib/components/dropzone.svelte
  web/frontend/src/lib/components/robot-client.svelte
  web/frontend/src/lib/error.ts
  web/frontend/src/lib/log.ts
  web/frontend/src/lib/resource.ts
  web/frontend/src/types/overrides.ts
  web/frontend/tsconfig.json
  web/frontend/vite.config.ts
Labels: safe to test

#3127 Fix npm publish
  web/frontend/package.json
  web/frontend/src/main.ts
  web/frontend/tsconfig.build.json
  web/frontend/tsconfig.json
  web/frontend/tsconfig.lib.json
Labels: safe to test

#3131 fix 32-bit regression in test
  components/input/gpio/gpio_test.go
Labels: safe to test

#3129 RSDK-582: Remove golearn
  go.mod
  go.sum
  ml/golearn.go
  ml/simple_test.go
Labels: safe to test

#3119 RSDK-5432 Update replay movement sensor to handle new and old data formats
  components/movementsensor/replay/replay.go
Labels: safe to test

#3128 RSDK-5299 build for macos
  .github/workflows/macos.yml
  .github/workflows/pullrequest-trusted.yml
Labels: safe to test

#3130 RSDK-5476 TP-space properly smoothing from Move calls
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  motionplan/tpspace/ptgGroupFrame.go
Labels: safe to test

#3137 Move Prime and Threlte to peer dependencies
  web/frontend/package-lock.json
  web/frontend/package.json
Labels: safe to test

#3138 RSDK-5500 consume test32 in rollup
  .github/workflows/test.yml
Labels: safe to test

#3107 [DATA-2022] Revert "[DATA-2075] Revert "[DATA-2022] Allow the user to configure how long the syncer waits to upload a file since it was last modified""
  components/board/genericlinux/board_nonlinux.go
  components/input/gamepad/gamepad.go
  services/datamanager/builtin/builtin.go
  services/datamanager/builtin/export_test.go
  services/datamanager/builtin/sync_test.go
  services/datamanager/internal/data_manager_test_helper.go
Labels: safe to test

#3112 [RSDK-5420] - Handle non positive frequency values for position and obstacle polling
  motionplan/plannerOptions.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_attempt.go
  services/motion/builtin/move_request.go
  services/motion/motion_test.go
  services/motion/pbhelpers.go
Labels: safe to test

#3135 DATA-2059 - Add FromDependencies to data manager
  services/datamanager/data_manager.go
Labels: safe to test

#3118 RSDK-3514: parametrize gantry testlimit timeout
  components/gantry/singleaxis/singleaxis.go
  components/gantry/singleaxis/singleaxis_test.go
Labels: safe to test

#3139 RSDK-5457 Replace Context in TabularDataByFilter call in Replay Movement Sensor
  components/movementsensor/replay/replay.go
Labels: safe to test

#3126 [RSDK-5449] Remove public helper from power sensor, and change name in movement s…
  components/movementsensor/adxl345/adxl345.go
  components/movementsensor/fake/movementsensor.go
  components/movementsensor/gpsnmea/pmtkI2C.go
  components/movementsensor/gpsnmea/serial.go
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
  components/movementsensor/imuvectornav/imu.go
  components/movementsensor/imuwit/imu.go
  components/movementsensor/merged/merged.go
  components/movementsensor/movementsensor.go
  components/movementsensor/replay/replay.go
  components/movementsensor/rtkutils/gpsrtk.go
  components/movementsensor/wheeledodometry/wheeledodometry.go
  components/powersensor/fake/powersensor.go
  components/powersensor/powersensor.go
Labels: safe to test

#3136 RSDK-5481: Reduce surface area of log creation APIs.
  cli/module_registry.go
  components/camera/videosource/logging/logger.go
  config/logging_level_test.go
  data/collector.go
  examples/customresources/demos/complexmodule/client/client.go
  examples/customresources/demos/simplemodule/client/client.go
  examples/customresources/demos/simplemodule/module.go
  logging/level.go
  logging/logger.go
  logging/logging.go
  module/example_test.go
  module/module.go
  utils/logger.go
  web/server/entrypoint.go
Labels: safe to test

#3141 RSDK-5481: Fix the multiversion module usage.
  module/multiversionmodule/module.go
Labels: safe to test

#3142 RSDK-5496: Protect access for `localRobot.mostRecentCfg`.
  module/version_reconfigure_test.go
  robot/impl/local_robot.go
Labels: safe to test

#3143 DATA-2090 - Compare ConvertedAttributes in data manager configs
  resource/config.go
Labels: safe to test

#3145 RSDK-5440 fix deadlock on simultaneous connect and update
  robot/client/client.go
Labels: safe to test

#3157 RSDK-4567 hide mmal behind build flags
  .github/workflows/test.yml
  Makefile
  etc/test.sh
  gostream/codec/mmal/encoder.go
  gostream/codec/mmal/utils.go
Labels: safe to test

#3146 RSDK-3236 support for requesting a new path from an existing partial plan
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/planManager.go
  motionplan/tpSpaceRRT.go
  motionplan/utils.go
  services/motion/builtin/builtin_test.go
Labels: safe to test

#3159 RSDK-5531 remove gostream/frontend
  gostream/frontend/.gitignore
  gostream/frontend/etc/prepare.sh
  gostream/frontend/package-lock.json
  gostream/frontend/package.json
  gostream/frontend/src/index.ts
  gostream/frontend/tsconfig.json
  gostream/frontend/webpack.config.js
Labels: safe to test

#3147 Rework collision geometries for bases
  components/base/kinematicbase/differentialDrive.go
  components/base/kinematicbase/differentialDrive_test.go
  components/base/wheeled/wheeled_base.go
  components/base/wheeled/wheeled_base_test.go
  examples/customresources/models/mybase/mybase.go
  spatialmath/errors.go
  spatialmath/geometry.go
  spatialmath/geometry_test.go
  spatialmath/geometry_utils.go
Labels: safe to test

#3149 RSDK-5529: bump the grpc library version
  go.mod
  go.sum
Labels: appimage, safe to test

#3160 Set priority in RC
  web/frontend/src/lib/components/robot-client.svelte
Labels: safe to test

#3161 [RSDK-5486] - Add stop header button to navigation card
  web/frontend/package.json
  web/frontend/src/components/navigation/hooks/use-nav-mode.ts
  web/frontend/src/components/navigation/index.svelte
Labels: safe to test

#3163 Remove canon
  .github/workflows/docker.yml
  .github/workflows/license_finder.yml
  .github/workflows/npm-publish.yml
Labels: safe to test

#2976 RSDK-4507 - Implement obstacle detection polling thread
  internal/resource.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  robot/impl/constants_c.go
  robot/impl/constants_no_cgo.go
  robot/impl/local_robot.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
  services/navigation/builtin/builtin.go
Labels: safe to test

#3164 RSDK-5537 Relax LastReconfigured test time assertions
  resource/resource_graph_test.go
  robot/impl/local_robot_test.go
Labels: safe to test

#3121 RSDK-5415 slam and motion coordinates do not match
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/fake_kinematics_test.go
  motionplan/planManager.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_attempt.go
  services/motion/builtin/move_request.go
  services/motion/builtin/replanner.go
  services/motion/data/real_wheeled_base.json
  services/motion/localizer.go
  spatialmath/point.go
Labels: appimage, safe to test

#3162 Cli fix update-models default module flag value
  cli/app.go
  cli/data.go
  cli/module_registry.go
Labels: safe to test

#3169 Remove `prime-core` and `prime-blocks` as peer deps.
  web/frontend/package.json
Labels: safe to test

#3065 Explore Mode using Motion Service
  components/base/kinematicbase/differentialDrive.go
  components/base/kinematicbase/differentialDrive_test.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/tpSpaceRRT_test.go
  robot/impl/constants_no_cgo.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
  services/motion/explore/explore.go
  services/motion/explore/explore_test.go
  services/motion/explore/explore_utils_test.go
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  services/navigation/builtin/explore.go
  services/navigation/builtin/explore_test.go
Labels: safe to test
