Repository viamrobotics/rdk, pull requests merged in 2023-03, with the labels that each got.

#1951 add OutputTelemetry (output-telemetry) viam-server flag
  web/server/entrypoint.go
Labels: safe to test, viam-org

#1949 RSDK-1896 - add timeouts and re-tries for flaky rtsp server tests
  .artifact/tree.json
  components/camera/rtsp/rtsp.go
  components/camera/rtsp/rtsp_test.go
Labels: safe to test, viam-org

#1933 Rsdk 2077 -fix bug in MIME type response
  components/camera/server.go
  rimage/image_file.go
  rimage/image_file_test.go
Labels: safe to test, viam-org

#1941 [DATA-1010/DATA-1071]: Remove ML training deprecated API and bump api
  go.mod
  go.sum
Labels: safe to test, viam-org

#1952 DATA-1119 - Fix package downloads
  robot/packages/cloud_package_manager.go
  robot/packages/cloud_package_manager_test.go
Labels: safe to test, viam-org

#1953 RSDK-1937 Move trossen arm out of rdk
  components/arm/register/register.go
  components/arm/trossen/trossen.go
  components/arm/trossen/trossen_vx300s_default_config.json
  components/arm/trossen/trossen_vx300s_kinematics.json
  components/arm/trossen/trossen_wx250s_default_config.json
  components/arm/trossen/trossen_wx250s_kinematics.json
  components/arm/trossen/trossen_wx250s_test.json
  components/gripper/register/register.go
  components/gripper/trossen/bad_config.json
  components/gripper/trossen/good_config.json
  components/gripper/trossen/trossen.go
  components/gripper/trossen/trossen_test.go
  motionplan/constraint_test.go
  motionplan/kinematic_test.go
  motionplan/nloptInverseKinematics_test.go
  referenceframe/model_json_test.go
  referenceframe/model_test.go
  referenceframe/testjson/varm.json
Labels: safe to test, viam-org

#1948 RSDK-2040 - Camera clients should never send +lazy in their requests
  components/camera/client.go
Labels: safe to test, viam-org

#1915 RSDK-1791 - Geometry pose specification is backwards
  components/arm/arm_test.go
  components/arm/universalrobots/ur5e.json
  components/arm/xarm/xarm6_kinematics.json
  components/arm/xarm/xarm7_kinematics.json
  spatialmath/geometry.go
  testutils/inject/arm.go
Labels: safe to test, viam-org

#1957 [RSDK-2126] Add 'go mod tidy' to lint-go target
  Makefile
  go.mod
  go.sum
Labels: safe to test, viam-org

#1932 [RSDK-1956] Add streaming GetInternalStateStream and GetPointCloudMapStream endpoints to RDK
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_test.go
  services/slam/builtin/cartographer_int_test.go
  services/slam/builtin/orbslam_int_test.go
  services/slam/client.go
  services/slam/client_test.go
  services/slam/internal/grpchelper/grpchelper.go
  services/slam/internal/testhelper/testhelper.go
  services/slam/server.go
  services/slam/server_test.go
  services/slam/slam.go
  testutils/inject/slam_service.go
Labels: safe to test, viam-org

#1961 [RSDK-1066] add GetPositionNew stub to SLAM Service
  services/slam/builtin/builtin.go
  services/slam/client.go
  services/slam/fake/slam.go
  services/slam/server.go
  services/slam/slam.go
Labels: safe to test, viam-org

#1881 [RSDK-1862] software PWM for Jetson Orin
  components/board/genericlinux/board.go
  components/board/genericlinux/gpio.go
Labels: safe to test, viam-org

#1956 Add Z16 to webcam constraints.
  components/camera/videosource/webcam.go
Labels: safe to test, viam-org

#1950 Code samples pr workflow
  .github/workflows/code-coverage-comment.yml
  etc/code-samples-action.py
Labels: github_actions, safe to test, viam-org

#1962 [RSDK-2036] Fix flaky collector test.
  data/collector.go
  data/collector_test.go
Labels: safe to test, viam-org

#1967 bugfix: have same function signatures in gpio.go and gpio_unsupported.go for Macs
  components/board/genericlinux/gpio_unsupported.go
Labels: safe to test, viam-org

#1966 activate workflow
  etc/code-samples-action.py
Labels: safe to test, viam-org

#1959 Remove HTTP versions of RestartChecker, Config Reader, Log Writer
  config/config_test.go
  config/reader.go
  config/reader_test.go
  config/testutils/fake_cloud.go
  config/watcher_test.go
  web/server/net_logger.go
  web/server/net_logger_test.go
  web/server/restart_checker.go
  web/server/restart_checker_test.go
Labels: safe to test, viam-org

#1972 fixes for multiple rpm issus
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/setup.go
Labels: safe to test, viam-org

#1977 [RSDK-2132] Prebuild module/testmodule
  module/module_interceptors_test.go
Labels: safe to test

#1978 APP-1287 - make comment only on specific files
  .github/workflows/code-coverage-comment.yml
  .github/workflows/code-samples-check.yml
  etc/code-samples-action.py
Labels: safe to test, viam-org

#1960 Rsdk 2077 write gray16 images to viam depth format
  .artifact/tree.json
  rimage/depth_map_raw.go
  rimage/depth_map_test.go
  rimage/image_file.go
Labels: safe to test, viam-org

#1846 RSDK-1250 Switch from native jpeg library to libjpeg
  components/camera/ffmpeg/ffmpeg.go
  components/camera/server_test.go
  etc/packaging/appimages/viam-server-aarch64.yml
  etc/packaging/appimages/viam-server-x86_64.yml
  go.mod
  go.sum
  rimage/image_file.go
Labels: safe to test, viam-org

#1981 RSDK-2138 Add streaming to fake input
  components/input/fake/input.go
  components/input/fake/input_test.go
Labels: safe to test, viam-org

#1992 use fork of go-libjpeg
  go.mod
  go.sum
  rimage/image_file.go
Labels: safe to test, viam-org

#1995 fix failing encode image test
  rimage/image_file.go
  rimage/image_file_test.go
Labels: safe to test, viam-org

#1965 [RSDK-1066] Implement GetPosition endpoint in slam service
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_helpers.go
  services/slam/builtin/builtin_helpers_test.go
  services/slam/builtin/builtin_test.go
  services/slam/client.go
  services/slam/client_test.go
  services/slam/server.go
  services/slam/server_test.go
  testutils/inject/slam_service.go
Labels: safe to test, viam-org

#1989 Check error in data syncer before logging
  services/datamanager/datasync/sync.go
Labels: safe to test, viam-org

#1964 RSDK-1865-add-map-rep-methods-to-fake-slam
  services/slam/fake/data_loader.go
  services/slam/fake/slam.go
  services/slam/fake/slam_test.go
  web/frontend/package-lock.json
Labels: safe to test, viam-org

#1973 RSDK-1870 Data Loss in ReadPCDtoBasicOctree
  .artifact/tree.json
  pointcloud/basic_octree_test.go
  pointcloud/basic_octree_utils_test.go
  pointcloud/pointcloud_file.go
Labels: safe to test, viam-org

#1984 RSDK-2077 Make sure custom depth type is big endian encoded
  .artifact/tree.json
  rimage/depth_map_raw.go
  rimage/depth_map_test.go
  rimage/image_file.go
  rimage/image_file_test.go
Labels: safe to test, viam-org

#1991 RSDK-1876 : pi audit
  components/board/pi/impl/board.go
Labels: safe to test, viam-org

#1994 RSDK-2003 Move AttrConf from builtin.go to slam
  go.mod
  go.sum
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_test.go
  services/slam/builtin/cartographer_int_test.go
  services/slam/builtin/orbslam_int_test.go
  services/slam/builtin/orbslam_yaml_test.go
  services/slam/builtin/slam_ext_test.go
Labels: safe to test, viam-org

#1983 RSDK-2153 Update GeometriesInFrame to accept/return a slice rather than a map
  components/arm/arm_test.go
  components/arm/universalrobots/ur5e_test.go
  motionplan/collision.go
  motionplan/collision_test.go
  motionplan/constraint.go
  motionplan/constraint_test.go
  motionplan/dubinsRRT_test.go
  motionplan/motionPlanner_test.go
  motionplan/solverFrame.go
  referenceframe/frame.go
  referenceframe/frame_json.go
  referenceframe/frame_test.go
  referenceframe/model.go
  referenceframe/model_test.go
  referenceframe/static_frame_system_test.go
  referenceframe/transformable.go
  referenceframe/transformable_test.go
  referenceframe/worldstate.go
  spatialmath/box.go
  spatialmath/capsule.go
  spatialmath/geometry.go
  spatialmath/point.go
  spatialmath/sphere.go
Labels: safe to test, viam-org

#1954 RSDK-1230 - Support reconfiguration for wrapper and fake arm models
  components/arm/fake/fake.go
  components/arm/fake/fake_test.go
  components/arm/wrapper/wrapper.go
  components/arm/wrapper/wrapper_test.go
Labels: safe to test, viam-org

#1986 Update code sample comment
  etc/code-samples-action.py
Labels: safe to test, viam-org

#1996 RSDK-1663: remove flaky gpio input test
  components/input/gpio/gpio_test.go
Labels: safe to test, viam-org

#1990 RSDK-1869 - Add mutex locks to basic gpio motor
  components/motor/gpio/basic.go
Labels: safe to test, viam-org

#2009 [APP-1342] fixed reactivity bug in gamepad controller
  web/frontend/src/components/input-controller.vue
Labels: safe to test, viam-org

#2006 update setup.sh for dependency libjpeg-turbo
  etc/setup.sh
Labels: safe to test, viam-org

#2013 use gotestsum --format standard-verbose to capture races
  etc/test.sh
Labels: safe to test, viam-org

#2010 [RSDK-1055] update SLAM integration tests
  services/slam/builtin/cartographer_int_test.go
  services/slam/builtin/orbslam_int_test.go
Labels: safe to test, viam-org

#2017 [RSDK-1055] Remove old integration test endpoints
  services/slam/builtin/cartographer_int_test.go
  services/slam/builtin/orbslam_int_test.go
Labels: safe to test, viam-org

#2001 RSDK-2007 Move slam image saving to slam repo
  go.mod
  go.sum
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_test.go
  services/slam/builtin/orbslam_yaml_test.go
  services/slam/builtin/slam_ext_test.go
Labels: safe to test, viam-org

#2004 RSDK-2004 Move setup util from builtin.go to slam repo
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_test.go
Labels: safe to test, viam-org

#1900 RSDK-1877: Single line encoder tests, comments, and minor changes
  components/encoder/single_encoder.go
  components/encoder/single_encoder_test.go
Labels: safe to test, viam-org

#1997 [APP-1349] Add error checking for invalid characters in remote name
  config/config.go
  config/config_test.go
  config/resource.go
Labels: safe to test, viam-org

#2002 [RSDK-2120]/[DATA-1155] Fix flaky TestSuccesfulWrite and TestClose collector tests.
  cli/data.go
  data/collector.go
  data/collector_test.go
  data/registry.go
  go.mod
  services/datamanager/datacapture/data_capture_buffer.go
Labels: safe to test, viam-org

#2005 RSDK-2152 - Fake arms do not use default arm motion planning constraints
  components/arm/arm_test.go
  components/arm/fake/fake.go
  examples/simpleserver/cmd.go
  services/armremotecontrol/builtin/builtin_ext_test.go
  services/armremotecontrol/builtin/builtin_test.go
  services/motion/builtin/builtin_test.go
Labels: safe to test, viam-org

#2023 [RSDK-2255] bump frontend for SLAM temp changes
  web/frontend/package.json
Labels: safe to test, viam-org

#2025 [RSDK-2261] TestArmReconnection flaky
  components/arm/universalrobots/ur5e_test.go
  control/control_loop_test.go
Labels: safe to test, viam-org

#2021 RSDK-2252 - Unable to run cartogropher through RDK
  go.mod
  go.sum
  services/slam/builtin/builtin.go
Labels: safe to test, viam-org

#2028 RSDK-2269 - flaky test: services/motion/builtin TestMoveSingleComponent
  services/motion/builtin/builtin_test.go
Labels: safe to test, viam-org

#2014 RSDK-2242 Removing Pre-Map Represetnation Endpoints
  .artifact/tree.json
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_test.go
  services/slam/client.go
  services/slam/client_test.go
  services/slam/fake/data_loader.go
  services/slam/fake/slam.go
  services/slam/fake/slam_test.go
  services/slam/server.go
  services/slam/server_test.go
  services/slam/slam.go
  testutils/inject/slam_service.go
Labels: safe to test, viam-org

#2003 RSDK-2053 - change direction_flip config key to dir_flip in fake moto…
  components/motor/fake/motor.go
Labels: safe to test, viam-org

#2029 RSDK-2250 - Flaky client refresh test
  robot/client/client_test.go
Labels: safe to test, viam-org

#2031 Re-add vue files to tsconfig whitelist and fix issues
  web/frontend/src/components/arm.vue
  web/frontend/src/components/audio-input.vue
  web/frontend/src/components/base.vue
  web/frontend/src/components/board.vue
  web/frontend/src/components/camera/camera.vue
  web/frontend/src/components/camera/cameras-list.vue
  web/frontend/src/components/do-command.vue
  web/frontend/src/components/gamepad.vue
  web/frontend/src/components/gantry.vue
  web/frontend/src/components/gripper.vue
  web/frontend/src/components/icon.vue
  web/frontend/src/components/info-button.vue
  web/frontend/src/components/input-controller.vue
  web/frontend/src/components/keyboard-input.vue
  web/frontend/src/components/motor-detail.vue
  web/frontend/src/components/movement-sensor.vue
  web/frontend/src/components/navigation.vue
  web/frontend/src/components/operations-sessions.vue
  web/frontend/src/components/pcd/pcd-view.vue
  web/frontend/src/components/pcd/pcd.vue
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/sensors.vue
  web/frontend/src/components/servo.vue
  web/frontend/src/components/slam-2d-render.vue
  web/frontend/src/components/slam.vue
  web/frontend/src/main-lib.ts
  web/frontend/tsconfig.json
  web/frontend/tsconfig.node.json
  web/frontend/tsconfig.vue.json
Labels: safe to test, viam-org

#2032 Use vue-tsc to generate ts declaration files
  web/frontend/package.json
Labels: safe to test, viam-org

#2030 RSDK-1896 - fix rtsp flaky test
  components/camera/rtsp/rtsp_test.go
  go.mod
  go.sum
Labels: safe to test, viam-org

#2033 Revert "RSDK-2242 Removing Pre-Map Represetnation Endpoints"
  .artifact/tree.json
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_test.go
  services/slam/client.go
  services/slam/client_test.go
  services/slam/fake/data_loader.go
  services/slam/fake/slam.go
  services/slam/fake/slam_test.go
  services/slam/server.go
  services/slam/server_test.go
  services/slam/slam.go
  testutils/inject/slam_service.go
Labels: safe to test, viam-org

#2019 RSDK-2049 - include nicer error messaging from pigpio C library in pi implementation
  components/board/pi/impl/board.go
  components/board/pi/impl/i2c.go
  components/board/pi/impl/servo.go
Labels: safe to test, viam-org

#2016 [DATA-fix]: Grab app address from the config
  services/datamanager/datasync/sync.go
Labels: safe to test, viam-org

#1975 RSDK 1820 Support modular validation and implicit dependencies
  config/reader.go
  examples/customresources/demos/complexmodule/module.json
  examples/customresources/demos/complexmodule/moduletest/module_test.go
  examples/customresources/models/mybase/mybase.go
  go.mod
  go.sum
  module/modmanager/manager.go
  module/modmanager/manager_test.go
  module/modmaninterface/interface.go
  module/module.go
  module/module_test.go
  robot/impl/local_robot.go
Labels: safe to test, viam-org

#2036 Do not externalize vue due to import issues
  web/frontend/package.json
  web/frontend/vite.lib.config.ts
Labels: safe to test, viam-org

#2038 Update README - Discord link
  README.md
Labels: safe to test, viam-org

#2041 Bump package.json version
  web/frontend/package-lock.json
  web/frontend/package.json
Labels: safe to test, viam-org

#2039 RSDK-2301 - change references to AM5 to actual company name AMS
  components/encoder/ams_as5048.go
  components/encoder/ams_as5048_test.go
Labels: safe to test, viam-org

#2040 [DATA-fix] Use a no-op sync manager if cloud management disabled
  services/datamanager/datasync/noop_sync.go
  services/datamanager/datasync/sync.go
Labels: safe to test, viam-org

#2042 RSDK-1907 - Fix throttle race in base remote control
  services/baseremotecontrol/builtin/builtin.go
Labels: safe to test, viam-org

#2050 Make client argument to createRcApp() optional
  web/frontend/package.json
  web/frontend/src/main-lib.ts
Labels: safe to test, viam-org

#2035 rollback-slam-vue-to-pre-map-representation
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/slam.vue
Labels: safe to test, viam-org

#2048 RSDK-2330: Round RC motor position to at most 3dp
  web/frontend/src/components/motor-detail.vue
Labels: safe to test, viam-org

#2034 RSDK-1863: Fix flaky analog smoother test
  components/board/analog_smoother_test.go
Labels: safe to test, viam-org

#2027 RSDK-1878 - add MPU6050 tests (part 1)
  components/movementsensor/mpu6050/mpu6050.go
  components/movementsensor/mpu6050/mpu6050_test.go
  testutils/inject/i2c.go
Labels: safe to test, viam-org

#2054 [DATA-1224] Only include the host portion of the URL when making a direct GRPC connection
  services/datamanager/datasync/client.go
  services/datamanager/datasync/sync.go
Labels: safe to test, viam-org

#2055 [RSDK-2327] Add build-web as requirement for server make target
  .github/workflows/appimage.yml
  Makefile
Labels: appimage, safe to test, viam-org

#2012 RSDK-2006- [rdk -> slam] Refactor, rename, and move a few functions & variable names
  go.mod
  go.sum
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_test.go
  services/slam/builtin/cartographer_int_test.go
  services/slam/builtin/orbslam_int_test.go
  services/slam/builtin/orbslam_yaml.go
  services/slam/builtin/orbslam_yaml_test.go
  services/slam/builtin/slam_ext_test.go
Labels: safe to test, viam-org

#2020 RSDK-2008 Remove builtin.RuntimeConfigValidation
  services/slam/builtin/builtin.go
  services/slam/builtin/slam_ext_test.go
Labels: safe to test, viam-org

#2045 RSDK-2313 add slam service name to motionRequest proto message
  components/generic/client.go
  components/generic/server.go
  components/generic/server_test.go
  go.mod
  go.sum
  module/module_interceptors_test.go
  robot/impl/resource_manager_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/client.go
  services/motion/client_test.go
  services/motion/motion.go
  services/motion/motion_test.go
  services/motion/server.go
  services/motion/server_test.go
  testutils/inject/motion_service.go
Labels: safe to test, viam-org

#2052 [DATA-1199] Flush collectors before syncing.
  data/collector.go
  data/registry_test.go
  services/datamanager/builtin/builtin.go
  services/datamanager/builtin/capture_test.go
  services/datamanager/builtin/sync_test.go
  services/datamanager/datacapture/data_capture_file.go
  services/datamanager/datasync/sync.go
Labels: safe to test, viam-org

#2043 RSDK-1985 Remove component registration to generic service
  examples/customresources/apis/gizmoapi/gizmoapi.go
  examples/customresources/apis/proto/api/component/gizmo/v1/gizmo.pb.go
  examples/customresources/apis/proto/api/component/gizmo/v1/gizmo.pb.gw.go
  examples/customresources/apis/proto/api/component/gizmo/v1/gizmo.proto
  examples/customresources/apis/proto/api/component/gizmo/v1/gizmo_grpc.pb.go
  examples/customresources/apis/proto/api/service/summation/v1/summation.pb.gw.go
  examples/customresources/models/mygizmo/mygizmo.go
  module/module.go
  module/module_test.go
  robot/web/web.go
Labels: safe to test, viam-org

#2061 RSDK-1790 - Connect the monitoredWebcam cancelCtx
  components/camera/videosource/webcam.go
Labels: safe to test, viam-org

#2060 RSDK-2336 - [rdk -> slam] Move builtin_helpers into utils
  go.mod
  go.sum
  services/slam/builtin/builtin.go
  services/slam/builtin/builtin_helpers.go
  services/slam/builtin/builtin_helpers_test.go
Labels: safe to test, viam-org

#2064 [RSDK-2335] Fix flaky TestDataCaptureUpload.
  services/datamanager/builtin/sync_test.go
Labels: safe to test, viam-org

#2056 RSDK-1878 - add mpu6050 tests for readings
  components/movementsensor/mpu6050/mpu6050.go
  components/movementsensor/mpu6050/mpu6050_test.go
Labels: safe to test, viam-org

#1958 RSDK-1977 - Motion planning constraint specifications
  components/arm/arm.go
  components/arm/universalrobots/ur5e_test.go
  components/arm/xarm/xarm_test.go
  components/arm/yahboom/dofbot_test.go
  motionplan/cBiRRT.go
  motionplan/collision.go
  motionplan/collision_test.go
  motionplan/metrics.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/planManager.go
  motionplan/plannerOptions.go
  referenceframe/frame.go
  referenceframe/frame_test.go
  referenceframe/transformable.go
  robot/impl/resource_manager_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/client.go
  services/motion/client_test.go
  services/motion/motion.go
  services/motion/motion_test.go
  services/motion/server.go
  services/motion/server_test.go
  testutils/inject/motion_service.go
Labels: safe to test, viam-org

#2062 RSDK-2093 - default gpio motor PWM frequency to 800 Hz
  components/board/arduino/board.go
  components/board/fake/board.go
  components/board/gpio_pin.go
  components/board/server.go
  components/motor/gpio/basic.go
Labels: safe to test, viam-org

#2070 RSDK-2117 Skip flaky test TestApplyOffset
  pointcloud/merging_test.go
Labels: safe to test, viam-org

#2065 RSDK-2326 Do not build modular resources that fail validation
  examples/customresources/demos/complexmodule/moduletest/bad_modular_validation.json
  examples/customresources/demos/complexmodule/moduletest/module_test.go
  examples/customresources/models/mybase/mybase.go
  robot/impl/resource_manager.go
Labels: safe to test, viam-org

#2072 RSDK-2117 Add TODO strings for future work of MergePointclouds
  components/camera/videosource/join_pointcloud_test.go
  pointcloud/merging_test.go
Labels: safe to test, viam-org

#1982 RSDK-2148 - implement ina219 power/current sensor
  components/sensor/power_ina219/power_ina219.go
  components/sensor/register/register.go
  config/reader.go
Labels: safe to test, viam-org

#2022 RSDK-2182 - stop multiplying by a 100 confidence
  vision/classification/classification_utils.go
Labels: safe to test, viam-org

#2067 [DATA-1230] Fix collector capture triggered on every Update call, not respecting existing ticker.
  go.mod
  services/datamanager/builtin/builtin.go
  services/datamanager/builtin/capture_test.go
Labels: safe to test, viam-org

#2073 RSDK-2334 - Process safety headers for sessions before returning first message
  go.mod
  go.sum
  robot/client/client.go
  robot/client/client_session.go
  robot/session_test.go
Labels: safe to test, viam-org

#2075 RSDK-2354 - Move grpchelper
  services/slam/builtin/builtin.go
  services/slam/client.go
  services/slam/grpchelper/grpchelper.go
Labels: safe to test, viam-org

#2071 RSDK-1986 - fix encoders not being added as implicit dependencies to fake motors
  components/motor/fake/motor.go
Labels: safe to test, viam-org

#2069 Rsdk 1984 update docommand UI
  components/generic/fake/generic.go
  components/generic/register/register.go
  etc/configs/fake.json
  web/frontend/cypress/data/test_robot_config.json
  web/frontend/cypress/data/test_robot_with_remote.json
  web/frontend/src/components/remote-control-cards.vue
Labels: safe to test, viam-org

#2081 RSDK-2211: MovementSensor Readings update
  components/movementsensor/movementsensor.go
Labels: safe to test, viam-org

#2000 [RSDK-1866] Support digital interrupts on the Orin
  components/board/digital_interrupts.go
  components/board/genericlinux/board.go
  components/board/genericlinux/gpio.go
  components/board/genericlinux/gpio_unsupported.go
Labels: safe to test, viam-org

#2086 use latest goutils for sctp congestion fix
  go.mod
  go.sum
Labels: safe to test

#1947 RSDK-1028 support interrupt pins on adxl345
  components/movementsensor/adxl345/adxl345.go
  components/movementsensor/adxl345/adxl345_test.go
  components/movementsensor/adxl345/interrupts.go
Labels: safe to test, viam-org

#2046 Use refactored external auth config for managed robots
  cli/auth.go
  cli/viam/main.go
  config/config.go
  config/config_test.go
  config/proto_conversions.go
  config/proto_conversions_test.go
  config/testutils/fake_cloud.go
  go.mod
  go.sum
  grpc/dial.go
  grpc/dial_test.go
  robot/server/server.go
  robot/session_web.go
  robot/web/web.go
  robot/web/web_test.go
Labels: safe to test, viam-org

#2087 bump RC page
  web/frontend/package.json
Labels: safe to test

#2085 Set up camera positioning and mouse raycasting for 2D PCD viewer
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/camera/camera.vue
  web/frontend/src/components/pcd/pcd-view.vue
  web/frontend/src/components/slam-2d-render.vue
Labels: safe to test

#2088 [RSDK-1868] Skip sync tests for now.
  services/datamanager/builtin/sync_test.go
Labels: safe to test

#2083 RSDK-2230: Add minimal support for power modes
  components/board/arduino/board.go
  components/board/board.go
  components/board/client.go
  components/board/client_test.go
  components/board/fake/board.go
  components/board/genericlinux/board.go
  components/board/hat/pca9685/pca9685.go
  components/board/numato/board.go
  components/board/pi/impl/board.go
  components/board/server.go
  testutils/inject/board.go
Labels: safe to test, viam-org

#2058 RSDK-2310 add kinematic wheeled base struct
  components/base/base.go
  components/base/wheeled/kinematics.go
  components/base/wheeled/kinematics_test.go
  components/base/wheeled/wheeled_base.go
  components/base/wheeled/wheeled_base_test.go
  pointcloud/pointcloud_file.go
  referenceframe/frame.go
  services/slam/fake/slam.go
  services/slam/fake/slam_test.go
Labels: safe to test, viam-org

#2026 RSDK-1611: Pi board initialization fails
  components/board/pi/impl/board.go
Labels: safe to test, viam-org

#2089 update mediadevices dependency
  go.mod
  go.sum
Labels: safe to test

#2079 fixes for deadlocks in webService
  robot/client/client_session_test.go
  robot/impl/local_robot.go
  robot/web/web.go
  robot/web/web_test.go
  testutils/inject/audioinput.go
  testutils/inject/camera.go
Labels: safe to test, viam-org

#2080 [DATA-1200] Don't log context cancellation errors in collectors or sync.Manager if they occur after Close().
  data/collector.go
  data/collector_test.go
  services/datamanager/datasync/sync.go
Labels: safe to test, viam-org

#2090 [DATA-1200] Replace utils.uncheckedErr with nolint:errcheck in sync/collector.
  data/collector.go
  services/datamanager/datasync/sync.go
Labels: safe to test

#2095 [DATA-1255] Use base64.StdEncoding on the crc32 hash on deployed files
  robot/packages/cloud_package_manager.go
  robot/packages/testutils/fake_package_server.go
Labels: safe to test

#2091 [RSDK-2355] add back three.js 2d & 3d slam view
  web/frontend/package-lock.json
  web/frontend/src/components/slam-2d-render.vue
  web/frontend/src/components/slam.vue
  web/frontend/src/lib/error.ts
Labels: safe to test

#2097 RSDK-2355: Bump RC to 0.2.6
  web/frontend/package-lock.json
  web/frontend/package.json
Labels: appimage, safe to test

#2100 bugfix for ina219: defer closing the I2C handle
  components/sensor/power_ina219/power_ina219.go
Labels: safe to test

#2102 Only compile hw_pwm.go on Linux; it's unused on Mac
  components/board/genericlinux/hw_pwm.go
Labels: safe to test

#2094 APP-1428: Use digital interrupt name instead of board name
  web/frontend/src/components/board.vue
Labels: safe to test

#2101 [RSDK-2042] Cannot configure one axis gantry with length and no board
  components/gantry/oneaxis/oneaxis.go
Labels: safe to test

#2105 Update invalid name error
  config/config.go
  config/config_test.go
  config/resource.go
  config/resource_test.go
Labels: safe to test

#2110 RSDK-2031 - update to latest goutils for rpc start/stop race fix
  go.mod
  go.sum
Labels: safe to test

#2092 [RSDK-1868]/[RSDK-2394] Fix flaky TestSyncEnabled and TestDataCaptureUpload.
  services/datamanager/builtin/builtin.go
  services/datamanager/builtin/capture_test.go
  services/datamanager/builtin/sync_test.go
  services/datamanager/data/fake_robot_with_data_manager.json
  services/datamanager/data/robot_with_cam_capture.json
  services/datamanager/datasync/noop_sync.go
  services/datamanager/datasync/sync.go
Labels: safe to test

#2106 Add logging around config validation errors during reconfiguration
  robot/impl/local_robot_test.go
  robot/impl/resource_manager.go
Labels: safe to test

#2113 Clean AppImage env vars at process startup
  robot/impl/resource_manager.go
Labels: safe to test, appimage-ignore-tests

#2112 [RSDK-2394] Sort captured data by time, not just the nanosecond field of the timestamp.
  services/datamanager/builtin/sync_test.go
Labels: safe to test

#2107 [RSDK-2068] Don't build the genericlinux boards on Mac
  components/board/genericlinux/board.go
  components/board/genericlinux/board_nonlinux.go
  components/board/genericlinux/board_test.go
  components/board/genericlinux/gpio_unsupported.go
  components/board/genericlinux/i2c.go
  components/board/pi/common/common.go
  components/board/pi/common/config.go
Labels: safe to test

#2096 App 1424 bugfix robot controls
  web/frontend/src/components/base.vue
  web/frontend/src/components/camera/camera.vue
  web/frontend/src/components/keyboard-input.vue
Labels: appimage, safe to test

#2116 APP-1412 - remove AuthHandlerWebOauthConfig
  config/config.go
  config/proto_conversions.go
  go.mod
  go.sum
  robot/web/web.go
Labels: safe to test

#2117 APP-1486 - rc: store google maps api key in local storage
  web/frontend/src/components/navigation.vue
Labels: safe to test

#2078 RSDK-2331 - Update Octree implementation to cache max probability of any child
  pointcloud/basic_octree.go
  pointcloud/basic_octree_test.go
  pointcloud/basic_octree_utils.go
  pointcloud/basic_octree_utils_test.go
Labels: safe to test, viam-org

#2118 RSDK-2350-increase-slam-streaming-chunk-to-1mb
  services/slam/fake/data_loader.go
Labels: safe to test

#2077 RSDK-2129 fix collision system so that it respects entirety of frame system
  motionplan/collision.go
  motionplan/constraint.go
  motionplan/constraint_test.go
  motionplan/dubinsRRT_test.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/planManager.go
  motionplan/plannerOptions.go
  motionplan/solverFrame.go
  referenceframe/frame.go
  referenceframe/frame_system.go
  referenceframe/frame_system_test.go
  referenceframe/transformable.go
  referenceframe/transformable_test.go
  referenceframe/worldstate.go
  robot/framesystem/framesystem_utils.go
Labels: safe to test, viam-org

#2124 Check pointers exist before closing in local robot
  robot/impl/local_robot.go
Labels: safe to test

#2125 Tell users to auth if they're not logged in.
  cli/client.go
Labels: safe to test

#2093 APP-1416- Camera stream manger
  web/frontend/cypress/e2e/robot-components/base.cy.ts
  web/frontend/package.json
  web/frontend/src/components/base.vue
  web/frontend/src/components/camera/camera-manager.ts
  web/frontend/src/components/camera/camera.vue
  web/frontend/src/components/camera/cameras-list.vue
  web/frontend/src/components/camera/stream-manager.ts
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/lib/camera-state.ts
Labels: safe to test

#2131 RSDK-2237 add SLAM grpc client helpers
  go.mod
  go.sum
  services/slam/grpchelper/grpchelper.go
Labels: safe to test

#2132 navigation service uses compass is available
  services/navigation/builtin/builtin.go
Labels: safe to test

#2128 RSDK-2490 Gantry axis does not move with not limit switch pins
  components/gantry/multiaxis/multiaxis.go
  components/gantry/multiaxis/multiaxis_test.go
  components/gantry/oneaxis/oneaxis.go
  components/gantry/oneaxis/oneaxis_test.go
Labels: safe to test

#2126 Fix import_guess string
  robot/client/client.go
Labels: safe to test

#2109 Modify xarm6 and xarm7 geometries to utilize capsules
  components/arm/arm_test.go
  components/arm/xarm/xarm6_kinematics.json
  components/arm/xarm/xarm7_kinematics.json
  motionplan/collision_test.go
Labels: safe to test

#2134 RSDK-2500 Add FromRobot convenience function to SLAM service package
  services/slam/slam.go
  services/slam/slam_test.go
Labels: safe to test

#2127 RSDK-2183 - bump TS SDK to pull in new changes
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/do-command.vue
  web/frontend/src/components/movement-sensor.vue
  web/frontend/src/components/navigation.vue
  web/frontend/src/components/pcd/pcd-view.vue
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/sensors.vue
  web/frontend/src/components/servo.vue
  web/frontend/src/components/slam.vue
Labels: safe to test

#2137 RSDK-2325 Remove orphaned resources from newConfig in Reconfigure
  robot/impl/local_robot.go
  robot/impl/local_robot_test.go
Labels: safe to test

#2140 RSDK-2338 update mediadevices dependency
  go.mod
  go.sum
Labels: safe to test

#2121 RSDK-2253 ignore StreamStatus Unimplemented errors
  robot/server/server.go
Labels: safe to test

#2141 RSDK-2240 Remove Temp Endpoints from SLAM
  services/slam/client_test.go
  services/slam/server.go
  services/slam/server_test.go
Labels: safe to test

#2145 RSDK-2402 adxl flaky test amd64
  components/movementsensor/adxl345/adxl345.go
  components/movementsensor/adxl345/adxl345_test.go
Labels: safe to test

#2148 Fix for not sending joint steps when diff is small
  components/arm/xarm/xarm_comm.go
Labels: safe to test

#2147 Refactor the way GPIO chips in sysfs get discovered
  components/board/genericlinux/data.go
Labels: safe to test

#2143 RSDK-2051 Genericize FromDependencies
  components/arm/arm.go
  components/arm/arm_test.go
  components/audioinput/audio_input.go
  components/audioinput/audioinput_test.go
  components/base/base.go
  components/base/base_test.go
  components/board/board.go
  components/board/board_test.go
  components/camera/camera.go
  components/camera/camera_test.go
  components/encoder/encoder.go
  components/gantry/gantry.go
  components/gantry/gantry_test.go
  components/input/input.go
  components/input/input_test.go
  components/motor/motor.go
  components/motor/motor_test.go
  components/movementsensor/movementsensor.go
  components/movementsensor/movementsensor_test.go
  registry/registry.go
  utils/errors.go
  utils/errors_test.go
Labels: safe to test
