Repository viamrobotics/rdk, pull requests merged in 2023-09, with the labels that each got.

#2791 RSDK-4388 rewrite MoveOnGlobe to be multithreaded
  components/arm/xarm/xarm_test.go
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/fake_kinematics_test.go
  components/base/kinematicbase/kinematics.go
  components/base/kinematicbase/ptgKinematics_test.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/utils.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/verify_main_test.go
  services/motion/client.go
  services/motion/motion.go
  services/motion/server.go
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2870 PowerSensor code samples fix
  examples/apis.json
Labels: safe to test

#2856 RSDK-4725 - Update CLI to support auth api-key
  cli/app.go
  cli/auth.go
  cli/auth_test.go
  cli/client.go
  cli/client_test.go
  cli/config.go
Labels: safe to test

#2867 RSDK-4734 More polishing of CLI
  .gitignore
  cli/auth.go
  cli/auth_test.go
  cli/boards.go
  cli/client.go
  cli/client_test.go
  cli/data.go
  cli/module_registry.go
  cli/print.go
Labels: safe to test

#2871 DATA-1906 Move existing modular filter examples to viam-labs
  examples/filters/colorfilter/color_filter.go
  examples/filters/colorfilter/module/main.go
  examples/filters/sensorfilter/module/main.go
  examples/filters/sensorfilter/sensor_filter.go
Labels: safe to test

#2874 [RSDK-4483] BME280 Sensor Error building resource on different boards
  components/sensor/bme280/bme280.go
Labels: safe to test

#2875 RSDK-3831 Fix locking to prevent infinite hang with analogs
  components/board/pi/impl/board.go
Labels: appimage, safe to test

#2850 RSDK-4625 - getWaypointLoop should not close out forever if there are no waypoints
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  web/frontend/src/components/navigation/index.svelte
Labels: safe to test

#2876 Revert "RSDK-4625 - getWaypointLoop should not close out forever if there are no waypoints"
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  web/frontend/src/components/navigation/index.svelte
Labels: safe to test

#2873 RSDK-4744 INA219 current readings incorrect fix
  components/powersensor/ina/ina.go
Labels: safe to test

#2831 RSDK-4241 set default rotation to 180
  components/camera/transformpipeline/mods.go
  components/camera/transformpipeline/mods_test.go
Labels: safe to test

#2885 RSDK-4681: Fix race in gpiostepper Close()
  components/motor/gpiostepper/gpiostepper.go
  components/motor/gpiostepper/gpiostepper_test.go
Labels: appimage, safe to test

#2887 DATA-1913 Change PointCloudMap data type to tabular
  services/datamanager/datacapture/data_capture_file.go
Labels: safe to test

#2879 RSDK-4505
  robot/impl/local_robot_test.go
  robot/impl/resource_manager_modular_test.go
  services/motion/builtin/builtin.go
Labels: safe to test

#2888 RSDK-4587
  services/navigation/builtin/builtin.go
Labels: safe to test

#2854 RSDK-4502 implement error state helper function to return distance from current plan
  components/base/kinematicbase/differentialDrive.go
  components/base/kinematicbase/differentialDrive_test.go
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/kinematics.go
  components/base/kinematicbase/ptgKinematics.go
  motionplan/tpSpaceRRT.go
  referenceframe/frame_system.go
  services/navigation/builtin/builtin_test.go
  spatialmath/pose.go
  spatialmath/pose_test.go
Labels: safe to test

#2877 Refactor MoveOnGlobe and introduce stability improvements
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_attempt.go
  services/motion/builtin/move_request.go
  services/motion/builtin/replanner.go
  utils/channel.go
Labels: safe to test

#2892 Remove unused config value in fake movement Sensor
  components/movementsensor/fake/movementsensor.go
Labels: safe to test

#2894 [RSDK-4640] document Beaglebone's GPIO shortcomings
  components/board/beaglebone/data.go
Labels: safe to test

#2890 RSDK-4775 - Resolve CLI singular/plural subcommand confusion
  cli/app.go
  cli/auth.go
  cli/auth_test.go
  cli/client.go
Labels: safe to test

#2899 32-bit struct order and fixes
  components/encoder/incremental/incremental_encoder.go
  components/motor/gpio/motor_encoder.go
  control/derivative_test.go
  protoutils/messages_test.go
  rimage/gray_image_helpers.go
  utils/average.go
Labels: safe to test

#2853 RSDK-4716 - allow for graceful handling of failed modules
  module/modmanager/manager.go
  module/modmanager/manager_test.go
  robot/impl/resource_manager.go
Labels: safe to test

#2896 [RSDK-4488] Register sensor controlled base
  components/base/register/register.go
Labels: safe to test

#2901 RSDK-2261: TestArmReconnection flaky
  components/arm/universalrobots/ur.go
Labels: safe to test

#2903 RSDK-2261 FIX
  components/arm/universalrobots/ur5e_test.go
Labels: safe to test

#2842 RSDK-4568: check for resources with the same name and show error
  config/config.go
  config/config_test.go
  config/diff.go
Labels: safe to test

#2868 RSDK-3584 Diff drive bases should plan using PTGs
  components/base/kinematicbase/kinematics.go
  components/base/kinematicbase/ptgKinematics.go
  motionplan/planManager.go
  motionplan/solverFrame.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  motionplan/tpspace/ptg.go
  motionplan/tpspace/ptgC.go
  motionplan/tpspace/ptgCC.go
  motionplan/tpspace/ptgCCS.go
  motionplan/tpspace/ptgCS.go
  motionplan/tpspace/ptgDiffDrive.go
  motionplan/tpspace/ptgGridSim.go
  motionplan/tpspace/ptgGroupFrame.go
  motionplan/tpspace/ptgIK.go
  motionplan/tpspace/ptgIKFrame.go
  motionplan/tpspace/ptgSideS.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
  services/navigation/builtin/builtin.go
Labels: safe to test

#2902 RSDK-4877 - Long module names can result in socket path errors on macos
  module/modmanager/manager.go
  module/module.go
  module/module_test.go
  robot/web/web.go
Labels: safe to test, appimage-ignore-tests

#2889 RSDK-4042: Motor.ResetZeroPosition is buggy and not consistently defined across models
  components/motor/dmc4000/dmc.go
  components/motor/fake/motor.go
  components/motor/gpiostepper/gpiostepper.go
  components/motor/i2cmotors/ezopmp.go
  components/motor/roboclaw/roboclaw.go
  components/motor/tmcstepper/stepper_motor_tmc.go
  components/motor/tmcstepper/stepper_motor_tmc_test.go
  components/motor/ulnstepper/28byj-48.go
Labels: safe to test

#2908 APP-2713 - "Visibility Field" should autopopulate to "Private"
  cli/module_registry.go
Labels: safe to test

#2906 RSDK-4829 32-bit build tags
  components/board/pi/impl/board.go
  components/board/pi/impl/i2c.go
  components/board/pi/impl/pi.c
  components/board/pi/impl/pi.h
  components/board/pi/impl/servo.go
  components/board/pi/impl/utils.go
  components/board/pi/pi_notsupported.go
  components/board/pi/pi_supported.go
  ml/inference/tflite.go
  services/mlmodel/register/register.go
  services/mlmodel/tflitecpu/tflite_cpu.go
  services/register/all.go
  services/register/all_tflite.go
Labels: safe to test

#2907 RSDK-4894: Correct locking around remote logging creation of grpc clients.
  web/server/net_logger.go
Labels: safe to test

#2898 RSDK-4127 - Use concurrency primitives
  .artifact/tree.json
  services/vision/obstaclesdepth/obstacles_depth.go
Labels: safe to test

#2913 [RSDK-4488]Rename packages in sensor controlled base
  components/base/register/register.go
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/sensorcontrolled_test.go
Labels: safe to test

#2915 [RSDK-3267] Remove go_block test from wheeled base to ensure no timeout
  components/base/wheeled/wheeled_base_test.go
Labels: safe to test

#2905 [RSDK-2707][RSDK-2708][RSDK-2714][RSDK-4701][RSDK-4882]: Fix Encoded Motor
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_ramp_test.go
  components/motor/gpio/motor_encoder_test.go
  components/motor/gpio/setup.go
Labels: safe to test

#2900 RSDK-4199 - Remove Pbstruct from infer signature
  services/mlmodel/client.go
  services/mlmodel/client_test.go
  services/mlmodel/mlmodel.go
  services/mlmodel/server.go
  services/mlmodel/server_test.go
  services/mlmodel/tflitecpu/tflite_cpu.go
  services/mlmodel/tflitecpu/tflite_cpu_test.go
  services/vision/mlvision/classifier.go
  services/vision/mlvision/detector.go
  testutils/inject/mlmodel_service.go
Labels: safe to test

#2920 RSDK-4925 PTG k-base GoToInputs should obey canceled contexts
  components/base/kinematicbase/ptgKinematics.go
Labels: safe to test

#2797 RSDK-4387 - Add CheckPlan function to motionplan package
  motionplan/constraint.go
  motionplan/errors.go
  motionplan/motionPlanner.go
  motionplan/rrt.go
  motionplan/solverFrame.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  services/motion/builtin/builtin_test.go
Labels: safe to test

#2922 Update function name
  motionplan/motionPlanner.go
  motionplan/tpSpaceRRT_test.go
Labels: safe to test

#2918 RSDK-4924 - .tgz is shorthand for .tar.gz but is not accepted by the cli validation
  cli/module_registry.go
Labels: safe to test

#2926 RSDK-482 FIX
  components/motor/gpio/motor_encoder.go
Labels: safe to test

#2923 [RSDK-4883][RSDK-4891]Stop when SetVelocity is all zeros and Change units in WheeledOdometry
  components/base/wheeled/wheeled_base.go
  components/base/wheeled/wheeled_base_test.go
  components/movementsensor/wheeledodometry/wheeledodometry.go
  components/movementsensor/wheeledodometry/wheeledodometry_test.go
Labels: safe to test

#2932 RSDK-4945 PTG bases should only call SetVelocity if the velocities have changed
  components/base/kinematicbase/ptgKinematics.go
Labels: safe to test

#2897 RSDK-4657: Only compare non-converted attributes for config equality checking.
  config/diff_test.go
  config/reader.go
  resource/config.go
  robot/impl/local_robot_test.go
  robot/impl/robot_reconfigure_test.go
Labels: safe to test

#2936 Change logging in single encoder and Wheeled Odometry
  components/encoder/single/single_encoder.go
  components/motor/errors.go
Labels: safe to test

#2828 RSDK-4496: Change log level based on config updates.
  config/logging_level.go
  config/logging_level_test.go
  config/watcher.go
  web/server/entrypoint.go
Labels: safe to test

#2928 RSDK-4871 - add backtrace printing on restart
  web/server/entrypoint.go
Labels: safe to test

#2893 RSDK-4503 implement position polling replanner function
  components/base/kinematicbase/differentialDrive.go
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/fake_kinematics_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_attempt.go
  services/motion/builtin/move_request.go
  services/motion/builtin/replanner.go
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2939 Remove mistakenly passing package replacement test
  robot/impl/local_robot_test.go
Labels: safe to test

#2937 [RSDK-1939] Don't kill the I2C bus when closing GPIO pins
  components/board/genericlinux/gpio.go
Labels: safe to test

#2938 RSDK-4932 always rebuild motion service instead of reconfiguring
  services/motion/builtin/builtin.go
Labels: safe to test

#2935 bugfix: onKeyUp handler on base
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/base/index.svelte
Labels: appimage, safe to test

#2941 RSDK-4951: Wheeled Odometry does not reconfigure when motor with the same name changes position reporting properties.
  components/movementsensor/wheeledodometry/wheeledodometry.go
Labels: safe to test

#2934 [DATA-1868] Upload arbitrary files with their full original file paths and maintain their directory structure upon export
  cli/data.go
  services/datamanager/builtin/sync_test.go
  services/datamanager/datasync/upload_arbitrary_file.go
Labels: safe to test

#2946 RSDK-5006 revert "RSDK-4932 always rebuild motion service instead of reconfiguring"
  services/motion/builtin/builtin.go
Labels: safe to test

#2947 [RSDK-4900][RSDK-4981]: add functionality to access rpmMonitor state and redo test file
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
Labels: safe to test

#2950 RSDK-4973 fix flaky test TestFrameSystemToPCD
  referenceframe/frame_system.go
  referenceframe/frame_system_test.go
Labels: safe to test

#2940 RSDK-4133, RSDK-4613, RSDK-4462 : Optimize the obstacles_pointcloud model, modify join_color_depth to work with new realsense module
  .artifact/tree.json
  components/camera/align/join.go
  components/camera/align/join_test.go
  components/camera/videosource/static.go
  pointcloud/pointcloud_utils.go
  vision/segmentation/er_ccl_clustering.go
  vision/segmentation/er_ccl_clustering_test.go
  vision/segmentation/plane_segmentation.go
Labels: safe to test

#2952 RSDK-5015: simplify/combine constructors to one function
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
Labels: safe to test

#2949 Use Config structs and Converted Attributes in Example Modules
  examples/customresources/demos/complexmodule/module.json
  examples/customresources/demos/remoteserver/remote.json
  examples/customresources/models/mybase/mybase.go
  examples/customresources/models/mygizmo/mygizmo.go
  examples/customresources/models/mynavigation/mynavigation.go
  examples/customresources/models/mysum/mysum.go
  robot/impl/local_robot_test.go
Labels: safe to test

#2933 RSDK-3894: Add map of intrinsics parameters.
  components/camera/videosource/data/intrinsics.json
  components/camera/videosource/webcam.go
Labels: safe to test

#2956 RSDK-4694 - Fix org name order in 'different org' error
  cli/module_registry.go
Labels: safe to test

#2958 Move out sensor controlled spin into separate file
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/spin.go
Labels: safe to test

#2959 RSDK-4902: add rpmDebug back
  components/motor/gpio/motor_encoder.go
Labels: safe to test

#2955 RSDK-4171, RSDK-4546 - Fix weird module behavior on process kill and model switch
  module/modmanager/manager.go
  resource/graph_node.go
  robot/impl/local_robot.go
  robot/impl/resource_manager.go
  robot/impl/resource_manager_test.go
  robot/impl/robot_reconfigure_test.go
Labels: safe to test

#2961 RSDK-4525 - Link to example module repos
  examples/customresources/README.md
Labels: safe to test

#2945 RSDK-3130: simultaneous motor calls in parallel in wheeled base
  components/base/wheeled/wheeled_base.go
  components/base/wheeled/wheeled_base_test.go
Labels: safe to test

#2965 RSDK-4902: FIX
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/setup.go
Labels: safe to test

#2962 RSDK-3837 - Sessions with remote flaky test fix
  robot/session_test.go
Labels: safe to test

#2957 Control Loop Base Part I: Refactors for more general endpoints
  components/motor/gpio/loop.go
  control/constant.go
  control/control.go
  control/derivative.go
  control/encoder_speed.go
  control/endpoint.go
  control/filters.go
  control/gain.go
  control/pid.go
  control/pid_test.go
  control/sum.go
  control/trapezoid_velocity_profile.go
Labels: safe to test

#2969 [RSDK-5112] remove gzip code for replay cameras
  components/camera/replaypcd/replaypcd.go
  components/camera/replaypcd/replaypcd_utils_test.go
Labels: safe to test

#2954 RSDK-4583 implement position only solving for tp space
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/fake_kinematics_test.go
  motionplan/cBiRRT.go
  motionplan/cBiRRT_test.go
  motionplan/constraint_test.go
  motionplan/ik/metrics.go
  motionplan/motionPlanner_test.go
  motionplan/planManager.go
  motionplan/plannerOptions.go
  motionplan/rrtStarConnect.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2972 register the customlinux component
  components/board/register/register.go
Labels: safe to test

#2971 RSDK-4901: revert config name
  components/motor/gpio/setup.go
Labels: safe to test

#2886 RSDK-4447: Allow dial timeout to be configurable
  grpc/dial.go
  robot/client/client.go
  utils/contextutils/context.go
  utils/contextutils/context_test.go
Labels: safe to test

#2966 [RSDK-5107] Only use software PWM on customlinux boards
  components/board/customlinux/board.go
Labels: safe to test

#2973 RSDK-4915: implement controls
  components/motor/gpio/motor_encoder.go
Labels: safe to test

#2974 RSDK-5132 - update resource build timeout message
  resource/errors.go
  robot/impl/robot_reconfigure_test.go
Labels: safe to test

#2960 RSDK-4571: Add a heuristic for detection bounding boxes from ml models
  components/camera/transformpipeline/detector_test.go
  services/vision/mlvision/detector.go
  services/vision/mlvision/ml_model_test.go
Labels: safe to test

#2970 RSDK-5057 release android binary
  .github/workflows/droid.yml
  .github/workflows/main.yml
  .github/workflows/pullrequest-trusted.yml
  .github/workflows/releasecandidate.yml
  .github/workflows/stable.yml
  .gitignore
  Makefile
  etc/android.sh
Labels: safe to test

#2975 [RSDK-5026] Add debugging logs when setting PWM through sysfs
  components/board/genericlinux/gpio.go
  components/board/genericlinux/hw_pwm.go
Labels: safe to test

#2977 rename pin configs to board definitions
  components/board/customlinux/board.go
  components/board/customlinux/setup.go
  components/board/customlinux/setup_test.go
Labels: safe to test

#2980 setup-go caching in CLI build
  .github/workflows/cli.yml
Labels: safe to test

#2981 Move rest of spin functions into spin.go in sensor base
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/spin.go
Labels: safe to test

#2984 Skip server static compression by default
  Makefile
  etc/Dockerfile.antique-cache
  packaging.make
Labels: safe to test

#2982 Rsdk 4886 misc improvements
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_attempt.go
  services/motion/builtin/replanner.go
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  services/navigation/navigation.go
  services/navigation/store.go
  utils/logger.go
Labels: safe to test

#2988 hotfix-bump-motion-TestReplanning-timeout
  services/motion/builtin/builtin_test.go
Labels: safe to test

#2993 RSDK-4949 fix panic when no store information is added in config
  services/navigation/builtin/builtin.go
  services/navigation/store.go
Labels: safe to test

#2994 RSDK-5108: change Ceil to Floor for GroupWorkParallel
  utils/parallel.go
  utils/parallel_test.go
Labels: safe to test

#3003 [RSDK-4769] Remove yahboom arm from rdk
  components/arm/fake/dofbot.json
  components/arm/fake/fake.go
  components/arm/register/register.go
  components/arm/yahboom/dofbot.go
  components/arm/yahboom/dofbot_test.go
  components/gripper/register/register.go
  components/gripper/yahboom/dofbot.go
  motionplan/kinematic_test.go
  referenceframe/model_json_test.go
Labels: safe to test

#2999 DATA-2013 - Add CLI tool support for Dataset APIs
  cli/app.go
  cli/auth.go
  cli/client.go
  cli/data.go
  cli/dataset.go
  go.mod
  go.sum
Labels: safe to test

#2996 RSDK-4678 Tilt Compensation wit IMU
  components/movementsensor/imuwit/imu.go
Labels: safe to test

#3001 RSDK-5197 - Don't stop module server on web reconfigure
  robot/impl/local_robot.go
  robot/impl/local_robot_test.go
  robot/robot.go
  robot/web/web.go
  robot/web/web_c.go
  robot/web/web_notc.go
  web/server/entrypoint.go
Labels: safe to test

#2990 [DATA-1985]: Add the ability to use "get_images()" in the data capture service configuration.
  components/camera/camera.go
  components/camera/collectors.go
  services/datamanager/datacapture/data_capture_file.go
  services/datamanager/datasync/upload_data_capture_file.go
Labels: safe to test

#2998 RSDK-5171 List board definitions packages in CLI
  cli/app.go
  cli/boards.go
Labels: safe to test

#2995 Skip the flaky TestStartWaypoint
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2948 APP-1979: update bump and release workflows to unblock RC hotfixes
  .github/workflows/npm-bump-version.yml
  .github/workflows/releasecandidate.yml
  .github/workflows/stable.yml
Labels: safe to test

#2983 RSDK-5100 improve reverse tree solving for diff drive ptg
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/ptgKinematics.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  motionplan/tpspace/ptgC.go
  motionplan/tpspace/ptgGridSim.go
  motionplan/tpspace/ptgGroupFrame.go
  motionplan/tpspace/ptgIK.go
  motionplan/tpspace/ptgIKFrame.go
  services/motion/builtin/builtin_test.go
Labels: safe to test

#3011 RSDK-4473 Use direct gRPC connections in web tests that hang
  robot/web/web_test.go
Labels: safe to test

#3014 RSDK-5214 Add sync waitgroup to ensure no leakage of goroutines on context cancellation
  motionplan/tpSpaceRRT.go
Labels: safe to test

#3007 feat(cli/auth): allow disabling browser open during login
  cli/app.go
  cli/auth.go
  cli/client.go
Labels: safe to test

#3015 RSDK-5166 Add limited number of smoothing iterations to de-flake test
  motionplan/motionPlanner_test.go
  motionplan/tpSpaceRRT_test.go
Labels: safe to test
