Repository viamrobotics/rdk, pull requests merged in 2023-06, with the labels that each got.

#2443 Remove space mono font
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/index.css
Labels: safe to test

#2442 RSDK-3349 - Remove _name suffix from navigation config fields
  etc/configs/fake.json
  services/navigation/builtin/builtin.go
  services/navigation/data/nav_cfg.json
  web/frontend/cypress/data/test_robot_config.json
Labels: safe to test

#2446 RSDK-3166 - remove feature flag
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/slam/index.vue
Labels: safe to test

#2447 [RSDK-3392] Fix module tests to use unique binary paths
  examples/customresources/demos/complexmodule/moduletest/module_test.go
  module/modmanager/data/simplemoduleruncopy.sh
  module/modmanager/manager_test.go
  module/module_interceptors_test.go
  robot/impl/local_robot_test.go
  testutils/file_utils.go
Labels: safe to test

#2362 RSDK-2311 implement GoToInputs for wheeled base model
  components/base/base.go
  components/base/fake/fake.go
  components/base/fake/fake_test.go
  components/base/wheeled/kinematics.go
  components/base/wheeled/kinematics_test.go
  motionplan/dubinsRRT_test.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  referenceframe/frame.go
  referenceframe/frame_system.go
  referenceframe/frame_test.go
  referenceframe/model.go
  referenceframe/model_test.go
  referenceframe/static_frame_system_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
Labels: safe to test

#2449 RSDK-2405 Create function for string representation of WorldState
  motionplan/motionPlanner.go
  referenceframe/worldstate.go
  referenceframe/worldstate_test.go
Labels: safe to test

#2439 RSDK-3094: Fix transform camera failing because of dependencies
  components/camera/transformpipeline/pipeline.go
  components/camera/transformpipeline/pipeline_test.go
Labels: safe to test

#2448 RSDK-3095 Making mlmodel info logs less confusing
  services/vision/mlvision/ml_model.go
Labels: safe to test

#2441 RSDK-3293: allow gantry to move in the direction away from the limit switch
  components/gantry/oneaxis/oneaxis.go
  components/gantry/oneaxis/oneaxis_test.go
Labels: safe to test

#2450 Migrate 4 components to Svelte
  web/frontend/.eslintrc.cjs
  web/frontend/src/components/motor-detail.vue
  web/frontend/src/components/motor/index.svelte
  web/frontend/src/components/movement-sensor.vue
  web/frontend/src/components/movement-sensor/index.svelte
  web/frontend/src/components/operations-sessions.vue
  web/frontend/src/components/operations-sessions/index.svelte
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/servo.vue
  web/frontend/src/components/servo/index.svelte
  web/frontend/tailwind.config.ts
Labels: safe to test

#2431 APP-1953 Opt out of typescript SDK reconnect logic
  web/frontend/src/components/remote-control-cards.vue
Labels: safe to test

#2377 [RSDK-3148] Don't allow sampling analog readers at a non-positive rate
  components/board/analog_smoother.go
Labels: safe to test

#2457 [RSDK-3308] Added support for reading digital interrupt pins as input
  components/board/genericlinux/board.go
  components/board/genericlinux/digital_interrupts.go
Labels: safe to test

#2454 RSDK-3357 Flaky Test: vision/objectdetection TestDetectionSource
  vision/objectdetection/cmd/color_detection/main.go
  vision/objectdetection/detection_source.go
  vision/objectdetection/detection_source_test.go
Labels: safe to test

#2463 rsdk-fix remove AlwaysRebuild From Roboclaw
  components/motor/roboclaw/roboclaw.go
Labels: safe to test

#2451 RSDK-2914 Remove tailwind styles from main-lib, stop emit declarations for non lib files
  web/frontend/README.md
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/index.css
  web/frontend/src/main.ts
  web/frontend/src/tailwind.css
  web/frontend/tsconfig.lib.json
  web/frontend/vite.lib.config.ts
Labels: safe to test

#2459 Migrate camera components to Svelte
  web/frontend/src/components/base.vue
  web/frontend/src/components/camera/camera-manager.ts
  web/frontend/src/components/camera/camera.svelte
  web/frontend/src/components/camera/camera.vue
  web/frontend/src/components/camera/cameras-list.vue
  web/frontend/src/components/camera/index.svelte
  web/frontend/src/components/pcd/index.svelte
  web/frontend/src/components/pcd/pcd-view.svelte
  web/frontend/src/components/pcd/pcd-view.vue
  web/frontend/src/components/pcd/pcd.vue
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/slam/index.vue
Labels: safe to test

#2464 [RSDK-3216] Split more of the genericlinux board.go into separate files
  components/board/genericlinux/board.go
  components/board/genericlinux/periph_gpio.go
  components/board/genericlinux/spi.go
Labels: safe to test

#2456 RSDK-3319 Add Get Properties to base drivers
  components/base/agilex/limo_base.go
  components/base/agilex/limo_base_test.go
  components/base/base.go
  components/base/client.go
  components/base/client_test.go
  components/base/fake/fake.go
  components/base/fake/fake_test.go
  components/base/properties.go
  components/base/server.go
  components/base/server_test.go
  components/base/wheeled/wheeled_base.go
  components/base/wheeled/wheeled_base_test.go
  examples/customresources/models/mybase/mybase.go
  go.mod
  go.sum
  robot/session_test.go
  services/baseremotecontrol/builtin/builtin_ext_test.go
  testutils/inject/base.go
Labels: safe to test

#2452 [RSDK-3120] Flip fake SLAM dataset
  .artifact/tree.json
  services/slam/fake/slam_test.go
Labels: safe to test

#2470 RSDK-2967 - Get data from depthmap
  rimage/depth_map.go
Labels: safe to test

#2455 RSDK-3260: combine home one and two limit switch logic
  components/gantry/oneaxis/oneaxis.go
  components/gantry/oneaxis/oneaxis_test.go
Labels: safe to test

#2467 RSDK-2333: AgileX remove connection from global map on Close
  components/base/agilex/limo_base.go
  components/base/agilex/limo_base_test.go
Labels: safe to test

#2473 Convert SLAM components to Svelte
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/api/motion.ts
  web/frontend/src/api/navigation.ts
  web/frontend/src/api/slam.ts
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/slam/2d-legend.svelte
  web/frontend/src/components/slam/2d-legend.vue
  web/frontend/src/components/slam/2d-renderer.svelte
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/components/slam/index.vue
Labels: safe to test

#2478 Migrate arm to Svelte and avoid unnecessary DOM element creation / network requests
  web/frontend/src/api/movement-sensor.ts
  web/frontend/src/components/arm/index.svelte
  web/frontend/src/components/audio-input/index.svelte
  web/frontend/src/components/base.vue
  web/frontend/src/components/camera/index.svelte
  web/frontend/src/components/motor/index.svelte
  web/frontend/src/components/movement-sensor/index.svelte
  web/frontend/src/components/operations-sessions/index.svelte
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/servo/index.svelte
  web/frontend/src/lib/error.ts
Labels: safe to test

#2481 Add eslint-plugin-svelte and fix lint issues
  web/frontend/.eslintrc.cjs
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/arm/index.svelte
  web/frontend/src/components/audio-input/index.svelte
  web/frontend/src/components/camera/camera.svelte
  web/frontend/src/components/camera/index.svelte
  web/frontend/src/components/collapse.svelte
  web/frontend/src/components/motor/index.svelte
  web/frontend/src/components/movement-sensor/index.svelte
  web/frontend/src/components/navigation/index.svelte
  web/frontend/src/components/operations-sessions/index.svelte
  web/frontend/src/components/pcd/pcd-view.svelte
  web/frontend/src/components/slam/2d-renderer.svelte
  web/frontend/src/components/slam/index.svelte
  web/frontend/tsconfig.json
Labels: safe to test

#2476 Migrate sensors and input controllers to Svelte
  web/frontend/src/components/input-controller.vue
  web/frontend/src/components/input-controller/index.svelte
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/sensors.vue
  web/frontend/src/components/sensors/index.svelte
Labels: safe to test

#2483 [RSDK-3341] shorten-TestFakeSLAMStateful-remove-skip
  services/slam/fake/data_loader.go
  services/slam/fake/slam_test.go
Labels: safe to test

#2453 RSDK-3258: Implement reconfigure for oneaxis
  components/gantry/oneaxis/oneaxis.go
  components/gantry/oneaxis/oneaxis_test.go
Labels: safe to test

#2469 [RSDK-3496] Use a background context for the background goroutine
  components/encoder/ams/ams_as5048.go
  components/encoder/incremental/incremental_encoder.go
  components/encoder/single/single_encoder.go
Labels: safe to test

#2486 [RSDK-3537] Fix module close/removal flow
  module/modmanager/manager.go
  module/modmanager/manager_test.go
  robot/impl/resource_manager.go
  robot/impl/resource_manager_modular_test.go
Labels: safe to test

#2487 RDK-3571 hide new nav service internals
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2461 RSDK-2926 - Add MoveOnGlobe implementation to Motion service
  components/base/base.go
  components/base/fake/fake.go
  components/base/fake/fake_test.go
  components/base/wheeled/kinematics.go
  components/base/wheeled/kinematics_test.go
  etc/configs/fake.json
  motionplan/cBiRRT.go
  motionplan/motionPlanner_test.go
  referenceframe/model.go
  referenceframe/model_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/localizer.go
  services/navigation/data/nav_cfg.json
  services/slam/fake/slam.go
  services/slam/slam.go
  spatialmath/geo_obstacle.go
  spatialmath/geo_obstacle_test.go
  web/frontend/cypress/data/test_robot_config.json
  web/frontend/cypress/e2e/rc-controls.cy.ts
Labels: safe to test

#2482 RSDK-3413 fix bugs in MoveOnMap
  components/base/wheeled/kinematics.go
  components/base/wheeled/kinematics_test.go
  web/frontend/src/api/motion.ts
Labels: safe to test

#2489 Design maintenance June 9 2023
  web/frontend/src/components/arm/index.svelte
  web/frontend/src/components/audio-input/index.svelte
  web/frontend/src/components/base.vue
  web/frontend/src/components/camera/camera.svelte
  web/frontend/src/components/camera/index.svelte
  web/frontend/src/components/collapse.svelte
  web/frontend/src/components/do-command/index.svelte
  web/frontend/src/components/encoder/index.svelte
  web/frontend/src/components/gantry.vue
  web/frontend/src/components/gripper.vue
  web/frontend/src/components/input-controller/index.svelte
  web/frontend/src/components/motor/index.svelte
  web/frontend/src/components/movement-sensor/index.svelte
  web/frontend/src/components/pcd/index.svelte
  web/frontend/src/components/sensors/index.svelte
  web/frontend/src/components/servo/index.svelte
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/lib/camera-state.ts
Labels: safe to test

#2494 fix test
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2496 Bump goutils to 0.1.35
  go.mod
  go.sum
Labels: safe to test

#2499 update edaniels->viamrobotics
  components/audioinput/audio_input.go
  components/audioinput/client.go
  components/audioinput/client_test.go
  components/audioinput/fake/audio_input.go
  components/audioinput/microphone/microphone.go
  components/camera/align/extrinsics.go
  components/camera/align/homography.go
  components/camera/align/join.go
  components/camera/camera.go
  components/camera/camera_test.go
  components/camera/client.go
  components/camera/client_test.go
  components/camera/ffmpeg/ffmpeg.go
  components/camera/replaypcd/replaypcd.go
  components/camera/rtsp/rtsp.go
  components/camera/server.go
  components/camera/server_test.go
  components/camera/transformpipeline/classifier.go
  components/camera/transformpipeline/composed.go
  components/camera/transformpipeline/composed_test.go
  components/camera/transformpipeline/depth_edges.go
  components/camera/transformpipeline/depth_edges_test.go
  components/camera/transformpipeline/detector.go
  components/camera/transformpipeline/mods.go
  components/camera/transformpipeline/mods_test.go
  components/camera/transformpipeline/pipeline.go
  components/camera/transformpipeline/pipeline_test.go
  components/camera/transformpipeline/preprocessing.go
  components/camera/transformpipeline/transform.go
  components/camera/transformpipeline/undistort.go
  components/camera/transformpipeline/undistort_test.go
  components/camera/videosource/helpers.go
  components/camera/videosource/server_test.go
  components/camera/videosource/webcam.go
  components/movementsensor/cameramono/cameramono.go
  components/movementsensor/cameramono/cameramono_test.go
  examples/simpleserver/cmd.go
  go.mod
  go.sum
  rimage/cmd/stream_camera/main.go
  robot/client/client_test.go
  robot/web/stream/stream.go
  robot/web/stream/stream_test.go
  robot/web/web.go
  robot/web/web_options.go
  robot/web/web_test.go
  services/datamanager/builtin/builtin_test.go
  testutils/inject/audioinput.go
  testutils/inject/camera.go
  web/server/entrypoint_unix.go
  web/server/entrypoint_windows.go
Labels: safe to test

#2468 RSDK-3516: Remove the controllers map from agilex
  components/base/agilex/limo_base.go
  components/base/agilex/limo_base_test.go
Labels: safe to test, appimage-ignore-tests

#2501 APP-2012 - Conversions to allow session heartbeat window to be configured in app
  config/proto_conversions.go
  config/proto_conversions_test.go
  go.mod
  go.sum
Labels: safe to test

#2485 [RSDK-2782] Move the TI boards off of Periph
  components/board/genericlinux/data.go
  components/board/ti/board.go
  components/board/ti/data.go
  utils/hardware_info.go
Labels: safe to test

#2510 Bump goutils -> v0.1.36
  go.mod
  go.sum
Labels: safe to test

#2512 RSDK-3391: Change the assertion ordering of the resource dependency test to avoid a race.
  robot/impl/robot_reconfigure_test.go
Labels: safe to test

#2495 [RSDK-3364] Add Test to Validate Number of Resources from fake.json
  module/module_interceptors_test.go
  testutils/robottestutils/robot_utils.go
  web/server/entrypoint_test.go
Labels: safe to test

#2460 Rsdk-2081: last position in GPS
  components/movementsensor/gpsnmea/nmeaParser.go
  components/movementsensor/gpsnmea/pmtkI2C.go
  components/movementsensor/gpsnmea/serial.go
  components/movementsensor/gpsrtk/gpsrtk.go
  components/movementsensor/gpsrtk/gpsrtk_test.go
  components/movementsensor/utils.go
Labels: safe to test

#2506 APP-2010 Svelte migration base
  web/frontend/cypress/e2e/robot-components/base.cy.ts
  web/frontend/src/components/base.vue
  web/frontend/src/components/base/index.svelte
  web/frontend/src/components/camera/camera.svelte
  web/frontend/src/components/icon.vue
  web/frontend/src/components/icon/index.svelte
  web/frontend/src/components/keyboard-input.vue
  web/frontend/src/components/keyboard-input/index.svelte
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/lib/click-outside.ts
Labels: appimage, safe to test

#2480 APP-1997 - Convert rc components to svelte
  web/frontend/src/components/gamepad/index.svelte
  web/frontend/src/components/gantry.vue
  web/frontend/src/components/gantry/index.svelte
  web/frontend/src/components/gripper.vue
  web/frontend/src/components/gripper/index.svelte
  web/frontend/src/components/remote-control-cards.vue
Labels: safe to test

#2514 APP-2024 Update docs for running RC for local development.
  web/frontend/README.md
Labels: safe to test

#2509 RSDK-2735 change BERT model
  .artifact/tree.json
  services/mlmodel/tflitecpu/tflite_cpu_test.go
Labels: safe to test

#2516 Replace external notify library with prime elements
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/arm/index.svelte
  web/frontend/src/components/board/index.svelte
  web/frontend/src/components/do-command/index.svelte
  web/frontend/src/components/gamepad/index.svelte
  web/frontend/src/components/navigation/index.svelte
  web/frontend/src/components/pcd/index.svelte
  web/frontend/src/components/pcd/pcd-view.svelte
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/sensors/index.svelte
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/index.css
  web/frontend/src/lib/copy-to-clipboard.ts
  web/frontend/src/lib/error.ts
  web/frontend/src/lib/toast.ts
  web/frontend/tailwind.config.ts
Labels: safe to test

#2497 [RSDK-3532] Create gpio pin mappings using ngpio number instead of chip dir
  components/board/genericlinux/board.go
  components/board/genericlinux/board_nonlinux.go
  components/board/genericlinux/board_test.go
  components/board/genericlinux/data.go
  components/board/genericlinux/pin_types.go
  components/board/jetson/data.go
Labels: safe to test

#2521 move unused types
  components/board/genericlinux/data.go
  components/board/genericlinux/pin_types.go
Labels: safe to test

#2520 RSDK-3537 Immediately remove modules with no handled resources
  module/modmanager/manager.go
  robot/impl/local_robot_test.go
Labels: safe to test

#2434 Rsdk 1242 spinfeedback with imu
  components/base/wheeled/sensorbase.go
  components/base/wheeled/sensorbase_test.go
  components/base/wheeled/wheeled_base.go
  testutils/inject/base.go
Labels: safe to test

#2522 Finish svelte migration
  Makefile
  web/frontend/.eslintrc.cjs
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/api/robot.ts
  web/frontend/src/app.svelte
  web/frontend/src/app.vue
  web/frontend/src/components/arm/index.svelte
  web/frontend/src/components/base/index.svelte
  web/frontend/src/components/board/index.svelte
  web/frontend/src/components/camera/camera.svelte
  web/frontend/src/components/gamepad/index.svelte
  web/frontend/src/components/gantry/index.svelte
  web/frontend/src/components/gripper/index.svelte
  web/frontend/src/components/input-controller/index.svelte
  web/frontend/src/components/keyboard-input/index.svelte
  web/frontend/src/components/keyboard-input/types.ts
  web/frontend/src/components/motor/index.svelte
  web/frontend/src/components/remote-control-cards.svelte
  web/frontend/src/components/remote-control-cards.vue
  web/frontend/src/components/servo/index.svelte
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/global.d.ts
  web/frontend/src/lib/click-outside.ts
  web/frontend/src/lib/fixers.ts
  web/frontend/src/lib/resource.ts
  web/frontend/src/lib/svelte-adapter.ts
  web/frontend/src/main-lib.ts
  web/frontend/src/main.ts
  web/frontend/src/stores/resources.ts
  web/frontend/src/vite-env.d.ts
  web/frontend/tailwind.config.ts
  web/frontend/tests/unit/Base.spec.ts
  web/frontend/tests/unit/KeyboardInput.spec.ts
  web/frontend/tsconfig.json
  web/frontend/tsconfig.lib.json
  web/frontend/vite.config.ts
Labels: safe to test

#2523 [RSDK-3563] Use symlinks in /sys/class/pwm to find pwm chips
  components/board/genericlinux/data.go
Labels: safe to test

#2513 RSDK-3270 Change roboclaw config field number of motors to motor channel
  components/motor/roboclaw/roboclaw.go
Labels: safe to test

#2528 RSDK-3683 Fix race in sensor base
  components/base/wheeled/sensorbase.go
Labels: safe to test

#2518 RSDK-3645: gantry scope config changes
  components/gantry/multiaxis/multiaxis.go
  components/gantry/multiaxis/multiaxis_test.go
  components/gantry/register/register.go
  components/gantry/singleaxis/singleaxis.go
  components/gantry/singleaxis/singleaxis_test.go
Labels: safe to test

#2525 RSDK-3609 TestAMSEncoderReset flaky test fix
  components/encoder/ams/ams_as5048_test.go
Labels: safe to test

#2531 Clean up arm debug UI
  web/frontend/src/components/arm/index.svelte
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#2538 RSDK-3416 Add Workflow to bump remote-control versions
  .github/workflows/npm-bump-version.yml
Labels: safe to test

#2527 Clarify base coordinate system comments
  components/base/base.go
Labels: safe to test

#2524 RSDK-3325 change kinematicWheeledBase to differentialDriveKinematics
  components/arm/client.go
  components/arm/server.go
  components/base/agilex/limo_base.go
  components/base/base.go
  components/base/client.go
  components/base/fake/fake.go
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/fake_kinematics_test.go
  components/base/kinematicbase/kinematics.go
  components/base/kinematicbase/kinematics_test.go
  components/base/server.go
  components/base/wheeled/kinematics.go
  components/base/wheeled/kinematics_test.go
  components/base/wheeled/wheeled_base.go
  examples/customresources/models/mybase/mybase.go
  referenceframe/transformable.go
  robot/session_test.go
  services/motion/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
  spatialmath/geometry.go
  testutils/inject/base.go
Labels: safe to test

#2541 fix sensor base code
  components/base/wheeled/sensorbase.go
  components/base/wheeled/wheeled_base.go
Labels: safe to test

#2526 Octree visualization
  pointcloud/basic_octree_utils_test.go
  pointcloud/basic_octree_visualizer.go
Labels: safe to test

#2540 RSDK-3687 Move slow-shutdown watcher code
  web/server/entrypoint.go
Labels: safe to test

#2490 RSDK-3262 Base station RTK improvements
  components/movementsensor/gpsnmea/gpsnmea.go
  components/movementsensor/gpsnmea/serial_test.go
  components/movementsensor/gpsrtk/gpsrtk.go
  components/movementsensor/gpsrtk/gpsrtk_test.go
  components/movementsensor/gpsrtk/model_test.go
  components/movementsensor/gpsrtk/ntrip.go
  components/movementsensor/gpsrtk/rtk_station_test.go
  components/movementsensor/register/register.go
  components/movementsensor/rtk_station/configure.go
  components/movementsensor/rtk_station/i2c.go
  components/movementsensor/rtk_station/rtk_station.go
  components/movementsensor/rtk_station/rtk_station_test.go
  components/movementsensor/rtk_station/serial.go
Labels: safe to test

#2507 RSDK-3309 implement TP-space RRT
  motionplan/cBiRRT.go
  motionplan/cBiRRT_test.go
  motionplan/combinedInverseKinematics.go
  motionplan/constraint.go
  motionplan/dubins.go
  motionplan/dubinsRRT.go
  motionplan/dubinsRRT_test.go
  motionplan/dubins_test.go
  motionplan/kinematic_test.go
  motionplan/metrics.go
  motionplan/motionPlanner.go
  motionplan/nearestNeighbor.go
  motionplan/nearestNeighbor_test.go
  motionplan/nloptInverseKinematics.go
  motionplan/nloptInverseKinematics_test.go
  motionplan/planManager.go
  motionplan/plannerOptions.go
  motionplan/rrt.go
  motionplan/rrtStarConnect.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  motionplan/tpspace/ptg.go
  motionplan/tpspace/ptgC.go
  motionplan/tpspace/ptgCC.go
  motionplan/tpspace/ptgCCS.go
  motionplan/tpspace/ptgCS.go
  motionplan/tpspace/ptgGridSim.go
  motionplan/tpspace/ptgGridSim_test.go
  motionplan/tpspace/simPtgAlpha.go
  motionplan/utils.go
Labels: safe to test

#2556 RSDK-3452: Collapse code coverage information in PR comments.
  etc/analyzecoverage/main.go
Labels: safe to test

#2488 RSDK-2929 Add data manager test to verify collector restarts when a resource changes
  services/datamanager/builtin/capture_test.go
  services/datamanager/builtin/sync_test.go
Labels: safe to test

#2554 APP-2044 Kill test-e2e child process on exit except in Github Workflow
  .github/workflows/test.yml
  Makefile
  etc/e2e.sh
Labels: safe to test

#2559 DATA-1533 - Fix tabular metadata index bug in CLI
  cli/data.go
Labels: safe to test

#2563 RSDK 3741 remove rtk station tests
  components/movementsensor/rtk_station/rtk_station_test.go
Labels: safe to test

#2477 RSDK-3207: change the way to check when gantry limit switches are hit
  components/gantry/singleaxis/singleaxis.go
  components/gantry/singleaxis/singleaxis_test.go
Labels: safe to test

#2564 Add from dependencies to sensor
  components/sensor/sensor.go
Labels: safe to test

#2566 fix base.GetGeometries method, add test of client
  components/base/client_test.go
  components/base/server.go
Labels: safe to test

#2562 RSDK-3684 - Make LabelPath Optional Again
  robot/impl/local_robot_test.go
  services/mlmodel/tflitecpu/tflite_cpu.go
  services/mlmodel/tflitecpu/tflite_cpu_test.go
  services/vision/mlvision/ml_model_test.go
Labels: safe to test

#2561 RSDK-3411: Modify GoToInputs to error if base deviates too far from path
  components/base/kinematicbase/kinematics.go
  components/base/kinematicbase/kinematics_test.go
Labels: safe to test

#2560 APP-1951 - reformat the structure of the code samples file
  examples/apis.json
Labels: safe to test

#2570 DATA-1406 - Remove component model
  cli/viam/main.go
  services/datamanager/builtin/builtin.go
  services/datamanager/datasync/upload_data_capture_file.go
Labels: safe to test

#2572 DATA-1376 - Remove deletion status check in the CLI since it always returns success
  cli/delete.go
Labels: safe to test

#2519 RSDK-3401: Use SLAM map as a constraint for 2D motion planning
  .artifact/tree.json
  motionplan/collision.go
  pointcloud/basic_octree.go
  pointcloud/basic_octree_utils.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2575 RSDK-3790 - Add more logging for investigation into web TestForeignResource flake
  .github/workflows/test.yml
  etc/test.sh
  robot/web/web_test.go
Labels: safe to test

#2568 [RSDK-3651] Create the ultrasonic camera model
  components/camera/register/register.go
  components/camera/ultrasonic/ultrasonic.go
  components/camera/ultrasonic/ultrasonic_test.go
  components/sensor/ultrasonic/ultrasonic.go
  components/sensor/ultrasonic/ultrasonic_test.go
Labels: safe to test

#2574 DATA-1524 - Remove unused session ID from upload metadata
  services/datamanager/datasync/upload_data_capture_file.go
Labels: safe to test

#2583 RDSK-3752 - Configured gripper pose gets doubled
  referenceframe/frame_system.go
Labels: safe to test

#2582 Upgrade client dependencies - June 2023
  web/frontend/package-lock.json
  web/frontend/package.json
Labels: safe to test

#2586 bump goutils
  go.mod
  go.sum
Labels: safe to test

#2585 Close adxl properly
  components/movementsensor/adxl345/adxl345.go
Labels: safe to test

#2588 Add tracing to camera/client.Stream()
  components/camera/client.go
Labels: safe to test

#2576 [RSDK-3696] Add merged movement sensor model
  components/movementsensor/client.go
  components/movementsensor/merged/merged.go
  components/movementsensor/merged/merged_test.go
  components/movementsensor/register/register.go
Labels: safe to test

#2594 RSDK-3795 - Switch from deprecated file IDs to binary IDs
  cli/data.go
  components/camera/replaypcd/replaypcd.go
  components/camera/replaypcd/replaypcd_utils_test.go
Labels: safe to test

#2593 RSDK-3299 - Clarify navigation behavior in log statement when MoveOnGlobe errors out
  services/navigation/builtin/builtin.go
Labels: safe to test

#2587 RSDK-3570 - Allow kinematic Bases to be configured with desired speed
  components/base/kinematicbase/kinematics.go
  components/base/kinematicbase/kinematics_test.go
  services/motion/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#2579 [RSDK 2924] - Add the ability for navigation card to render obstacles (1/2)
  etc/configs/fake.json
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/api/navigation.ts
  web/frontend/src/components/navigation/components/map.svelte
  web/frontend/src/components/navigation/components/marker.svelte
  web/frontend/src/components/navigation/components/nav.svelte
  web/frontend/src/components/navigation/components/obstacle-layer.svelte
  web/frontend/src/components/navigation/components/robot-marker.svelte
  web/frontend/src/components/navigation/components/scene.svelte
  web/frontend/src/components/navigation/components/waypoints.svelte
  web/frontend/src/components/navigation/index.svelte
  web/frontend/src/components/navigation/lnglat-plugin.ts
  web/frontend/src/components/navigation/stores.ts
  web/frontend/src/components/navigation/style.ts
  web/frontend/src/components/navigation/types.ts
  web/frontend/src/components/navigation/utils.ts
  web/frontend/src/components/remote-control-cards.svelte
  web/frontend/src/hooks/use-disconnect.ts
  web/frontend/src/stores/client.ts
  web/frontend/src/stores/streams.ts
Labels: safe to test

#2591 DATA-1008 - Change org_id to organization_id in Data API uses
  cli/data.go
  cli/viam/main.go
  components/camera/replaypcd/replaypcd.go
  components/camera/replaypcd/replaypcd_utils_test.go
  go.mod
  go.sum
Labels: safe to test

#2599 pull function name out of dict correctly
  etc/code-samples-action.py
Labels: safe to test

#2598 Remove LocalMotor and GoTillStop
  components/motor/dimensionengineering/sabertooth.go
  components/motor/dimensionengineering/sabertooth_test.go
  components/motor/dmc4000/dmc.go
  components/motor/dmc4000/dmc4000_test.go
  components/motor/errors.go
  components/motor/fake/motor.go
  components/motor/fake/motor_test.go
  components/motor/gpio/basic.go
  components/motor/gpio/motor_encoder.go
  components/motor/gpiostepper/gpiostepper.go
  components/motor/i2cmotors/ezopmp.go
  components/motor/motor.go
  components/motor/motor_test.go
  components/motor/roboclaw/roboclaw.go
  components/motor/tmcstepper/stepper_motor_tmc.go
  components/motor/tmcstepper/stepper_motor_tmc_test.go
  testutils/inject/motor.go
Labels: safe to test

#2600 [RSDK-3608] Make the genericlinux I2C classes public
  components/board/genericlinux/board.go
  components/board/genericlinux/i2c.go
Labels: safe to test
