Repository viamrobotics/rdk, pull requests merged in 2024-02, with the labels that each got.

#3512 RSDK-6186: Adding Parser for SourceTable.
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
  components/movementsensor/rtkutils/ntrip.go
  components/movementsensor/rtkutils/vrs.go
Labels: safe to test

#3523 RSDK-5905 power sensor bad voltage readings
  components/powersensor/ina/ina.go
Labels: safe to test

#3494 RSDK-6308: Using control config on left and right motor of a base doesn't work with SDK
  components/motor/gpio/motor_encoder.go
Labels: safe to test

#3522 bump goutils to v0.1.60
  go.mod
  go.sum
Labels: safe to test

#3497 RSDK-6331 Use gradient descent to try to minimize the lengths of PTGs
  motionplan/ik/metrics.go
  motionplan/tpSpaceRRT.go
  motionplan/tpspace/ptgDiffDrive.go
  motionplan/tpspace/ptgIK.go
  motionplan/tpspace/ptgIKFrame.go
  services/motion/builtin/builtin_test.go
Labels: safe to test

#3524 RSDK-6544 - Fix armv7 ffmpeg libs
  gostream/ffmpeg/Linux-armv7l/lib/libavcodec.a
  gostream/ffmpeg/Linux-armv7l/lib/libavdevice.a
  gostream/ffmpeg/Linux-armv7l/lib/libavfilter.a
  gostream/ffmpeg/Linux-armv7l/lib/libavformat.a
  gostream/ffmpeg/Linux-armv7l/lib/libavutil.a
  gostream/ffmpeg/Linux-armv7l/lib/libswresample.a
  gostream/ffmpeg/Linux-armv7l/lib/libswscale.a
Labels: safe to test

#3526 quick-fix: parser wasn't parsing
  components/movementsensor/rtkutils/ntrip.go
Labels: safe to test

#3520 [RSDK-5462] Fewer mutexes in the GPS RTK Serial component
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
Labels: safe to test

#3519 [RSDK-5462] More simplifying the control flow of GPS stuff, nearly to the main refactor
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
  components/movementsensor/gpsrtkserial/gpsrtkserial_test.go
Labels: safe to test

#3495 RSDK-6445 Use commonpb for LogEntry imports
  cli/client.go
  go.mod
  go.sum
  logging/net_appender.go
  logging/net_appender_test.go
Labels: safe to test

#3521 RSDK-6542 - Fix SLAM RC Card incompatible with non builtin bases
  web/frontend/src/api/motion.ts
  web/frontend/src/components/remote-control-cards.svelte
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#3528 add comment explaining the mutex in the power monitor
  components/powersensor/ina/ina.go
Labels: safe to test

#3335 RSDK-4813 - Evict plan execution information older than TTL
  services/motion/builtin/builtin.go
  services/motion/builtin/state/state.go
  services/motion/builtin/state/state_test.go
Labels: safe to test

#3475 RSDK-6272 - How to handle planning for the zero pose
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
Labels: safe to test

#3530 RSDK-6534 - Minimize unnecessary GetPlan error logs
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#3533 Bump analyzetests context timeout
  etc/analyzetests/main.go
Labels: safe to test

#3532 RSDK-6432 Create fake slam reference config
  etc/configs/fake_cloud_slam.json
Labels: safe to test

#3493 RSDK-6478 - Publish manifest for viam-server
  .github/workflows/staticbuild.yml
  etc/packaging/static/.gitignore
  etc/subsystem_manifest/README.md
  etc/subsystem_manifest/main.go
  etc/subsystem_manifest/main_test.go
  packaging.make
  web/server/entrypoint.go
  web/server/entrypoint_test.go
Labels: safe to test

#3534 RSDK-6326 - Unskip TestMoveOnMapNew bump timeout
  services/motion/builtin/builtin_test.go
Labels: safe to test

#3535 Bump rpc in rc
  web/frontend/package-lock.json
  web/frontend/package.json
Labels: safe to test

#3529 RSDK-5432 Remove outdated data types from replay movement sensor
  components/movementsensor/replay/replay.go
  components/movementsensor/replay/replay_utils_test.go
Labels: safe to test

#3539 RSDK-6514 Improve UR arm driver to use longer timeouts for longer motions
  components/arm/universalrobots/ur.go
  components/arm/universalrobots/ur5e_test.go
  components/arm/universalrobots/ur_parser.go
  components/arm/universalrobots/ur_parser_test.go
Labels: safe to test

#3536 RSDK-6557 fix flaky test TestStartWaypoint
  services/navigation/builtin/builtin_test.go
  services/navigation/builtin/explore.go
Labels: safe to test

#3541 Unblock release by removing manifest from main
  .github/workflows/staticbuild.yml
Labels: safe to test

#3545 Revert "Unblock release by removing manifest from main"
  .github/workflows/staticbuild.yml
Labels: safe to test

#3547 RSDK-6429 bump exp/slices
  go.mod
  go.sum
  resource/resource_graph_export.go
  services/motion/builtin/state/state.go
  utils/value.go
  utils/value_test.go
  web/server/entrypoint.go
Labels: safe to test

#3451 RSDK-6282 [part 2]: add PID values to the sensor controlled base config
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/sensorcontrolled_test.go
  components/base/sensorcontrolled/spin.go
  components/base/sensorcontrolled/velocities.go
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
  control/control_block.go
  control/control_loop.go
  control/pid.go
  control/pid_test.go
Labels: safe to test

#3548 [RSDK-5462] Remove duplicate functions when connecting to ntrip URLs
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk_test.go
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
  components/movementsensor/gpsrtkserial/gpsrtkserial_test.go
  components/movementsensor/rtkutils/ntrip.go
  components/movementsensor/rtkutils/ntrip_test.go
  components/movementsensor/rtkutils/vrs.go
Labels: safe to test

#3552 RSDK-6282 fix PID autotuning in sensor controlled base
  components/base/sensorcontrolled/sensorcontrolled.go
  components/motor/gpio/motor_encoder.go
Labels: safe to test

#3498 [RSDK-6277] Remove board packages
  cli/app.go
  cli/boards.go
  cli/boards_test.go
  config/config.go
  config/config_test.go
  config/proto_conversions.go
Labels: safe to test

#3546 RSDK-6406 - Change implementation of MoveOnMap
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
Labels: safe to test

#3515 RSDK-6430 - Change RC card to use new MoveOnMap signature
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/api/motion.ts
Labels: safe to test

#3553 [RSDK-6525] Start pulling the data-reading code out of the data-interpretation code for NMEA
  components/movementsensor/gpsnmea/data_reader.go
  components/movementsensor/gpsnmea/serial.go
Labels: safe to test

#3556 RSDK-6570: i2c parser bug
  components/movementsensor/gpsnmea/pmtkI2C.go
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
Labels: safe to test

#3561 RSDK-6437 - Skip Generic linux TestNewBoard
  components/board/genericlinux/board_test.go
Labels: safe to test

#3559 [RDSK-6525] separate the NMEA component from the serial-reading code
  components/movementsensor/gpsnmea/component.go
  components/movementsensor/gpsnmea/data_reader.go
  components/movementsensor/gpsnmea/serial.go
  components/movementsensor/gpsnmea/serial_test.go
Labels: safe to test

#3563 RSDK-6437 fix TestNewBoard flaky test
  components/board/analog_smoother.go
  components/board/genericlinux/board.go
  components/board/genericlinux/board_test.go
Labels: safe to test

#3543 RSDK-6569: spin with motor controls returns early
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/sensorcontrolled_test.go
  components/base/sensorcontrolled/spin.go
  components/movementsensor/wheeledodometry/wheeledodometry.go
Labels: safe to test

#3568 RSDK-6599 Add non-erroring GetAccuracy implementations to FIX RC Card polling of API
  components/movementsensor/adxl345/adxl345.go
  components/movementsensor/dualgps/dualgps.go
  components/movementsensor/imuvectornav/imu.go
  components/movementsensor/imuwit/imu.go
  components/movementsensor/merged/merged.go
  components/movementsensor/movementsensor.go
  components/movementsensor/mpu6050/mpu6050.go
  components/movementsensor/replay/replay.go
  components/movementsensor/replay/replay_test.go
  components/movementsensor/wheeledodometry/wheeledodometry.go
Labels: safe to test

#3569 Bump core and make options function reactive
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/do-command/index.svelte
Labels: javascript, safe to test

#3566 RSDK-6024: Have tests that use random numbers for ports ensure the server came up successfully before connecting.
  examples/customresources/demos/complexmodule/moduletest/module_test.go
  examples/customresources/demos/remoteserver/server_test.go
  module/module_interceptors_test.go
  testutils/robottestutils/robot_utils.go
  web/server/entrypoint_test.go
Labels: safe to test

#3333 RSDK-6185 Send/receive module logs over gRPC
  examples/customresources/demos/simplemodule/module.go
  go.mod
  go.sum
  logging/appender.go
  logging/testing.go
  module/example_test.go
  module/log.go
  module/modmanager/manager_test.go
  module/module.go
  module/module_interceptors_test.go
  module/module_test.go
  module/testmodule/main.go
  module/version_reconfigure_test.go
  robot/client/client.go
  robot/impl/resource_manager_modular_test.go
  robot/server/server.go
  testutils/module_utils.go
Labels: safe to test

#3554 RSDK-6444 - Delete MoveOnMapNew
  go.mod
  go.sum
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/client.go
  services/motion/client_test.go
  services/motion/explore/explore.go
  services/motion/motion.go
  services/motion/motion_test.go
  services/motion/pbhelpers.go
  services/motion/server.go
  services/motion/server_test.go
  testutils/inject/motion_service.go
Labels: safe to test

#3557 HotFix: Detect reconfiguration for SLAM RC card
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#3565 RSDK-6618: Allow remapping of tensor names in vision mlmodel, transpose image channels
  services/mlmodel/mlmodel.go
  services/vision/mlvision/classifier.go
  services/vision/mlvision/detector.go
  services/vision/mlvision/ml_model.go
  services/vision/mlvision/ml_model_test.go
  services/vision/mlvision/segmenter3d.go
Labels: safe to test

#3572 viam module build local didn't support raw paths but we said it does
  cli/app.go
  cli/module.tar.gz
  cli/module_build.go
  cli/module_build_test.go
Labels: safe to test

#3571 RSDK-6625 - Invalid ffmpeg config causes config loop
  components/camera/ffmpeg/ffmpeg.go
Labels: safe to test

#3579 fix tar unpacking with missing directory entries
  robot/packages/cloud_package_manager.go
  robot/packages/cloud_package_manager_test.go
Labels: safe to test

#3580 APP-3923: catch errors with GetAccuracy in movement sensor card
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/movement-sensor/index.svelte
Labels: safe to test

#3576 [RSDK-5462] don't deadlock on opening I2C handles in the RTK code
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
Labels: safe to test

#3558 Data 2275/log capture frequency
  data/registry.go
  services/datamanager/builtin/builtin.go
Labels: safe to test

#3582 HotFix Localizing mode not loading map
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#3549 Make GoToInputs variadic
  components/arm/arm.go
  components/arm/arm_test.go
  components/arm/client.go
  components/arm/eva/eva.go
  components/arm/fake/fake.go
  components/arm/universalrobots/ur.go
  components/arm/wrapper/wrapper.go
  components/arm/xarm/xarm.go
  components/base/kinematicbase/differentialDrive.go
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/ptgKinematics.go
  components/gantry/client.go
  components/gantry/fake/gantry.go
  components/gantry/multiaxis/multiaxis.go
  components/gantry/singleaxis/singleaxis.go
  components/gantry/singleaxis/singleaxis_test.go
  referenceframe/primitives.go
  services/motion/builtin/builtin_test.go
  testutils/inject/arm.go
Labels: safe to test

#3570 RSDK-6094 Further improve CLI usage strings
  cli/app.go
  cli/auth.go
  cli/auth_test.go
  cli/data.go
  cli/dataset.go
  cli/module_registry.go
  cli/train.go
Labels: safe to test

#3584 [RSDK-5462] More gps cleanup
  components/movementsensor/rtkutils/ntrip.go
Labels: safe to test

#3578 RSDK-4045 Fix multiple remote parsing in resource names
  components/base/kinematicbase/ptgKinematics_test.go
  resource/name.go
  resource/resource.go
  resource/resource_test.go
  robot/impl/local_robot_test.go
  services/motion/motion_test.go
Labels: safe to test

#3587 RSDK-6476 - Update warning logs around timeouts around weak dependencies
  robot/impl/local_robot.go
  utils/errors.go
Labels: safe to test

#3395 Rework `motionplan.Plan` struct
  components/arm/xarm/xarm_test.go
  components/base/kinematicbase/differentialDrive.go
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/kinematics.go
  components/base/kinematicbase/ptgKinematics.go
  components/base/kinematicbase/ptgKinematics_test.go
  motionplan/cBiRRT.go
  motionplan/errors.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/plan.go
  motionplan/planManager.go
  motionplan/plan_test.go
  motionplan/plannerOptions.go
  motionplan/rrt.go
  motionplan/rrtStarConnect.go
  motionplan/solverFrame.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  motionplan/utils.go
  motionplan/utils_test.go
  referenceframe/urdf/model_test.go
  services/motion/builtin/builtin.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/builtin_utils_test.go
  services/motion/builtin/move_request.go
  services/motion/builtin/replanner.go
  services/motion/builtin/state/state.go
  services/motion/builtin/state/state_test.go
  services/motion/client_test.go
  services/motion/explore/explore.go
  services/motion/explore/explore_test.go
  services/motion/localizer.go
  services/motion/motion.go
  services/motion/motion_test.go
  services/motion/pbhelpers.go
  services/motion/server_test.go
  services/navigation/builtin/builtin.go
  services/navigation/builtin/builtin_test.go
Labels: safe to test

#3542 RSDK-6563 - Expose inflation factor
  components/base/kinematicbase/differentialDrive.go
  components/base/kinematicbase/differentialDrive_test.go
  motionplan/collision.go
  motionplan/collision_test.go
  motionplan/constraint.go
  motionplan/constraint_test.go
  motionplan/motionPlanner_test.go
  motionplan/planManager.go
  motionplan/plannerOptions.go
  motionplan/tpSpaceRRT_test.go
  pointcloud/basic_octree.go
  pointcloud/basic_octree_utils_test.go
  services/motion/builtin/builtin_test.go
  services/motion/explore/explore_test.go
  services/motion/explore/explore_utils_test.go
  spatialmath/box.go
  spatialmath/capsule.go
  spatialmath/capsule_test.go
  spatialmath/geometry.go
  spatialmath/geometry_test.go
  spatialmath/point.go
  spatialmath/sphere.go
Labels: safe to test

#3590 Fix ErrorState bug in PTGKinematicBase
  components/base/kinematicbase/ptgKinematics.go
Labels: safe to test

#3591 Remove references to now defunct MoveOnMapNew method
  services/motion/builtin/builtin_test.go
Labels: safe to test

#3577 [RSDK-6525] Implement the I2cDataReader class
  components/movementsensor/gpsnmea/component.go
  components/movementsensor/gpsnmea/pmtkI2C.go
  components/movementsensor/gpsnmea/pmtkI2C_test.go
  components/movementsensor/gpsnmea/serial.go
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
Labels: safe to test

#3594 RSDK-6277 Bump API
  go.mod
  go.sum
Labels: safe to test

#3586 [RSDK-6658] fix slam card reconfigure logic
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/slam/index.svelte
Labels: safe to test

#3589 RSDK-6476 - Update resource construct timeout test
  robot/impl/robot_reconfigure_test.go
Labels: safe to test

#3595 Unexport some component constants and functions
  components/base/sensorcontrolled/sensorcontrolled.go
  components/movementsensor/adxl345/adxl345.go
  components/movementsensor/adxl345/adxl345_test.go
  components/movementsensor/adxl345/interrupts.go
Labels: safe to test

#3592 RSDK-6672: Object detection without category tensor
  .artifact/tree.json
  services/vision/mlvision/detector.go
  services/vision/mlvision/ml_model.go
  services/vision/mlvision/ml_model_test.go
Labels: safe to test

#3585 [RSDK-4975] CLI update warning
  Makefile
  cli/app.go
  cli/client.go
  cli/config.go
  cli/print.go
  config/reader.go
  go.mod
  go.sum
Labels: safe to test

#3601 rsdk-6560 its not really a warning, everything will still work
  robot/impl/local_robot.go
Labels: safe to test

#3602 revert GIT_TAG to latest hash
  Makefile
  cli/client.go
Labels: safe to test

#3473 RSDK-4511 - Hardware testing of obstacle avoidance
  .artifact/tree.json
  components/base/kinematicbase/fake_kinematics.go
  components/base/kinematicbase/ptgKinematics.go
  motionplan/constraint.go
  motionplan/motionPlanner.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/builtin_utils_test.go
  services/motion/builtin/move_request.go
Labels: safe to test

#3596 RSDK-6678 - Do not overwrite existing operation
  operation/opid.go
  operation/opid_test.go
Labels: safe to test

#3599 RSDK-6661, RSDK-6662 Add cloud metadata
  config/config.go
  config/config_test.go
  config/proto_conversions.go
  config/reader_test.go
  config/watcher_test.go
  go.mod
  go.sum
  internal/cloud/service.go
  robot/client/client.go
  robot/client/client_test.go
  robot/impl/local_robot.go
  robot/impl/local_robot_test.go
  robot/impl/resource_manager_test.go
  robot/robot.go
  robot/server/server.go
  robot/server/server_test.go
  testutils/inject/robot.go
Labels: safe to test

#3605 Add local robot test helper
  robot/impl/local_robot_test.go
Labels: safe to test

#3604 [RSDK-6720] fix replay movement sensors
  components/movementsensor/collectors.go
  components/movementsensor/replay/replay.go
  components/movementsensor/replay/replay_test.go
  components/movementsensor/replay/replay_utils_test.go
Labels: safe to test

#3588 [RSDK-6524]: Move nmeaParser.go to rtkutils
  components/movementsensor/gpsnmea/component.go
  components/movementsensor/gpsnmea/serial_test.go
  components/movementsensor/rtkutils/nmeaParser.go
  components/movementsensor/rtkutils/nmeaParser_test.go
Labels: safe to test

#3610 Remove omitempty from packageType
  config/config.go
Labels: appimage, safe to test

#3606 RSDK-6465 [part1]: add helper functions for a control loop
  control/setup_control.go
Labels: safe to test

#3614 RSDK-6728: Adjust "Cannot move motor at 0 RPM" error message
  components/base/wheeled/wheeled_base_test.go
  components/motor/errors.go
Labels: safe to test

#3618 RSDK-6751: Add preprocessing options to input image for the mlmodel vision service
  rimage/image_file.go
  services/mlmodel/tflitecpu/tflite_cpu_test.go
  services/vision/mlvision/classifier.go
  services/vision/mlvision/detector.go
  services/vision/mlvision/ml_model.go
  services/vision/mlvision/ml_model_test.go
Labels: safe to test

#3608 Rename .data -> data directory
  config/config.go
  config/config_test.go
  robot/impl/local_robot_test.go
  robot/packages/cloud_package_manager.go
  robot/packages/cloud_package_manager_test.go
Labels: appimage, safe to test, appimage-ignore-tests

#3615 RSDK-6465 [part 2]: use helper functions in sensor controlled base
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/sensorcontrolled_test.go
  components/base/sensorcontrolled/velocities.go
  control/setup_control.go
Labels: safe to test

#3621 RDK-fix Orange pi mappings
  components/board/orangepi/data.go
Labels: safe to test

#3623 APP-3700: Run Update on every Upload in Module CLI
  cli/module_registry.go
Labels: safe to test

#3611 RSDK-6344 - Fix socket clashes on reconfigured modules
  grpc/conn.go
  module/modmanager/manager.go
  module/modmanager/manager_test.go
  module/module.go
  robot/client/client.go
Labels: safe to test

#3616 RSDK-6465 [part 3]: use helper functions in encoded motor
  components/base/sensorcontrolled/velocities.go
  components/motor/gpio/loop.go
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
  components/motor/gpio/setup.go
  control/setup_control.go
Labels: safe to test

#3620 RSDK-6344 Read partial config when getting cached TLS information
  config/config.go
  config/reader.go
  config/reader_test.go
Labels: safe to test

#3622 RSDK-6761 Remove hardware encoder default
  gostream/codec/x264/encoder.go
  web/server/entrypoint_linux.go
Labels: safe to test

#3619 RSDK-6174: CompassDegreeError for imu
  components/movementsensor/imuwit/imu.go
Labels: safe to test

#3624 only require machine id for shell
  cli/app.go
  cli/client.go
Labels: safe to test

#3627 revert `location_de_arm` pin
  .github/workflows/appimage.yml
  .github/workflows/test.yml
Labels: safe to test
