Repository viamrobotics/rdk, pull requests merged in 2024-03, with the labels that each got.

#3555 RSDK-6612 Resource graph history
  resource/visualizer.go
  robot/impl/local_robot.go
  robot/impl/resource_manager.go
  robot/robot.go
  robot/web/web_c.go
Labels: safe to test

#3638 services/shell: Add TERM=xterm-256color when not present
  cli/client.go
  services/shell/builtin/builtin.go
Labels: safe to test

#3636 generic linux software PWM bug fix
  components/board/genericlinux/gpio.go
Labels: safe to test

#3640 skip TestObstacleReplanningSlam
  services/motion/builtin/builtin_test.go
Labels: safe to test

#3603 RSDK-6280 Better logic for module logging fields
  logging/proto_conversions.go
  logging/proto_conversions_test.go
  module/log.go
  module/module.go
  robot/client/client.go
  robot/impl/resource_manager_modular_test.go
  robot/server/server.go
Labels: safe to test

#3634 RSDK-6798 - Update RDK resource & package & module name regexes
  config/config.go
  config/config_test.go
  config/module.go
  resource/config.go
  resource/config_test.go
  utils/variables.go
  utils/variables_test.go
Labels: safe to test

#3648 RSDK-6764,6765 - Module reloading test flakes
  module/modmanager/manager_test.go
Labels: safe to test

#3643 RSDK-4465: Add validate function to tflite cpu
  services/mlmodel/tflitecpu/tflite_cpu.go
Labels: safe to test

#3613 Improve viam robot logs cli
  cli/client.go
  cli/client_test.go
Labels: safe to test

#3650 Require org IDs and time interval to delete binary data via the CLI
  cli/app.go
Labels: safe to test

#3653 Bump go-graphviz to compile with -Wno-format-security
  go.mod
  go.sum
Labels: safe to test

#3645 RSDK-6348/error frequency
  data/collector.go
  data/collector_test.go
Labels: safe to test

#3612 [RSDK-6178] Don't allow extremely large fake camera resolutions.
  components/camera/fake/camera.go
  components/camera/fake/camera_test.go
  robot/impl/resource_manager_test.go
  services/motion/explore/explore_utils_test.go
Labels: safe to test

#3657 RSDK-6836: make default block types const in setup_control.go
  control/setup_control.go
Labels: safe to test

#3658 RSDK-6824: change from topN to up-to topN
  vision/classification/classifier.go
Labels: safe to test

#3662 RSDK-6837/make-closing-threadsafe #3661
  data/collector.go
  data/collector_test.go
Labels: safe to test

#3660 RSDK-6823: Motor doesn't stop after controls auto tuning on PI5
  components/motor/gpio/motor_encoder.go
Labels: safe to test

#3649 RSDK-5755: Utilize control loop context for closing control loops in motor encoder
  components/motor/gpio/motor_encoder.go
  control/control_loop.go
  control/setup_control.go
Labels: safe to test

#3651 [RSDK-6806] Add warning for slow starting modules
  module/modmanager/manager.go
Labels: safe to test

#3656 RSDK-6828 - Fix local robot test flake
  robot/impl/local_robot_test.go
Labels: safe to test

#3664 RSDK-6818: GoFor cancels early when called from motor
  components/motor/gpio/motor_encoder.go
Labels: safe to test

#3652 [RSDK-6525] Pull cached data out of the NMEAMovementSensor struct
  components/movementsensor/gpsnmea/component.go
  components/movementsensor/gpsnmea/serial_test.go
  components/movementsensor/rtkutils/cachedData.go
  components/movementsensor/rtkutils/cachedData_test.go
  components/movementsensor/rtkutils/nmeaParser.go
  components/movementsensor/rtkutils/nmeaParser_test.go
Labels: safe to test

#3663 Add Ziegler Nichols PD Tuning computation to the Control Package
  control/pid.go
Labels: safe to test

#3668 GPIO motor refactor #1 - Remove currentRPM from state struct
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
Labels: appimage, safe to test

#3665 [APP-3046]: Update configuration settings in AZ2FA migration.
  cli/auth.go
Labels: safe to test

#3669 GPIO Motor refactor Remove RpmMonitorCalls
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
Labels: safe to test

#3628 RSDK-1960, RSDK-539 Test entire config flow
  config/reader.go
  config/reader_test.go
  config/watcher.go
  testutils/injectpb/robot_service_client.go
Labels: safe to test

#3675 Revert "RSDK-1960, RSDK-539 Test entire config flow (#3628)"
  config/reader.go
  config/reader_test.go
  config/watcher.go
  testutils/injectpb/robot_service_client.go
Labels: safe to test

#3641 RSDK-6770 Startup modules in parallel
  module/modmanager/manager.go
  module/modmaninterface/interface.go
  robot/impl/resource_manager.go
  robot/impl/resource_manager_modular_test.go
Labels: safe to test

#3676 RSDK-6877, RSDK-6878 - Aggressive timeouts on first config reads
  config/reader.go
  config/watcher.go
Labels: safe to test

#3678 RSDK-6879 Write from net logger without mutex
  logging/net_appender.go
  logging/net_appender_test.go
Labels: safe to test

#3681 RSDK-5300 Error log proto conversion issues
  config/proto_conversions.go
Labels: safe to test

#3642 [RSDK-5354] use control loop in sensorbase spin
  components/base/sensorcontrolled/sensorcontrolled_test.go
  components/base/sensorcontrolled/spin.go
  components/base/sensorcontrolled/velocities.go
  control/setup_control.go
Labels: safe to test

#3677 RSDK-6904 - Deferred Package Manager
  robot/impl/local_robot.go
  robot/packages/deferred_package_manager.go
  robot/packages/deferred_package_manager_test.go
Labels: appimage, safe to test

#3667 [RSDK-6870] request edited maps from SLAM servers
  components/base/kinematicbase/differentialDrive_test.go
  go.mod
  go.sum
  services/motion/builtin/builtin_utils_test.go
  services/motion/builtin/move_request.go
  services/slam/client.go
  services/slam/client_test.go
  services/slam/collector.go
  services/slam/fake/slam.go
  services/slam/fake/slam_test.go
  services/slam/grpchelper/grpchelper.go
  services/slam/server.go
  services/slam/server_test.go
  services/slam/slam.go
  testutils/inject/slam_service.go
Labels: safe to test

#3684 Update slow module startup ticker to 2 secs
  module/modmanager/manager.go
Labels: safe to test

#3670 Rsdk-6731: compass degree error gps
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
  components/movementsensor/rtkutils/cachedData.go
Labels: safe to test

#3683 RSDK-6930: Create and update control config in one helper function
  components/base/sensorcontrolled/velocities.go
  components/motor/gpio/loop.go
  control/setup_control.go
Labels: safe to test

#3674 [APP-4223]: Update auth client and audience (for device authorization flow in CLI)
  cli/auth.go
Labels: safe to test

#3680 [RSDK-6525] Have the RTK components manage their own data
  components/movementsensor/gpsnmea/component.go
  components/movementsensor/gpsnmea/gpsnmea.go
  components/movementsensor/gpsnmea/pmtkI2C.go
  components/movementsensor/gpsnmea/pmtkI2C_test.go
  components/movementsensor/gpsnmea/serial.go
  components/movementsensor/gpsnmea/serial_test.go
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk_test.go
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
  components/movementsensor/gpsrtkserial/gpsrtkserial_test.go
  components/movementsensor/gpsutils/cachedData.go
  components/movementsensor/gpsutils/cachedData_test.go
  components/movementsensor/gpsutils/config.go
  components/movementsensor/gpsutils/config_test.go
  components/movementsensor/gpsutils/i2c_data_reader.go
  components/movementsensor/gpsutils/nmeaParser.go
  components/movementsensor/gpsutils/nmeaParser_test.go
  components/movementsensor/gpsutils/ntrip.go
  components/movementsensor/gpsutils/ntrip_test.go
  components/movementsensor/gpsutils/serial_data_reader.go
  components/movementsensor/gpsutils/vrs.go
Labels: safe to test

#3682 bump go v1.21, goutils
  control/control_loop_test.go
  go.mod
  go.sum
  pointcloud/pointcloud_storage_test.go
  robot/impl/resource_manager_test.go
  utils/ransac.go
Labels: safe to test

#3694 bump go-version to 1.21.x in macos test
  .github/workflows/macos.yml
Labels: safe to test

#3672 RSDK-6885 - Add fields to slam.Properties
  go.mod
  go.sum
  services/slam/client.go
  services/slam/client_test.go
  services/slam/fake/slam.go
  services/slam/fake/slam_test.go
  services/slam/grpchelper.go
  services/slam/server.go
  services/slam/server_test.go
  services/slam/slam.go
Labels: appimage, safe to test

#3687 RSDK-6917: Update RDK to work with goutils v0.1.67.
  go.mod
  go.sum
  grpc/conn.go
  module/modmanager/manager.go
  module/module_test.go
Labels: safe to test

#3686 RSDK-1960, RSDK-6945, RSDK-539 Fix CloudMetadata + Test config flow
  config/reader.go
  config/reader_test.go
  config/testutils/fake_cloud.go
  robot/client/client.go
  robot/client/client_test.go
  robot/impl/local_robot.go
  robot/impl/local_robot_test.go
  robot/impl/resource_manager_test.go
  robot/robot.go
  robot/server/server.go
  robot/server/server_test.go
  testutils/inject/robot.go
Labels: safe to test

#3698 Improve fake server interface
  config/reader_test.go
  config/testutils/fake_cloud.go
  config/watcher_test.go
Labels: safe to test

#3689 RSDK-6938: refactor rpmMonitor
  components/motor/gpio/loop.go
  components/motor/gpio/motor_encoder.go
  components/motor/gpio/motor_encoder_test.go
Labels: safe to test

#3625 RSDK-5523 remove conditional logic causing data service to always reconfigure
  config/reader.go
  module/module_test.go
  resource/config.go
  resource/config_test.go
  resource/resource_registry.go
  resource/resource_registry_test.go
  services/datamanager/builtin/builtin.go
  services/datamanager/builtin/builtin_test.go
  services/datamanager/builtin/capture_test.go
  services/datamanager/builtin/sync_test.go
  services/datamanager/data_manager.go
Labels: appimage, safe to test, appimage-ignore-tests

#3666 DATA-2278/add-tags-by-filter-cli
  cli/app.go
  cli/data.go
Labels: safe to test

#3705 RSDK-6843 ptg motion plans should not be required to start at the origin
  components/base/kinematicbase/ptgKinematics_test.go
  motionplan/constraint.go
  motionplan/constraint_test.go
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/planManager.go
  motionplan/plan_test.go
  motionplan/plannerOptions.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
Labels: safe to test

#3704 RSDK-6753: sensor controlled base fails when oversaturating the controller
  control/control_loop.go
  control/pid.go
  control/pid_test.go
Labels: safe to test

#3702 RSDK-6908 Do not drop net logger batches
  logging/net_appender.go
  logging/net_appender_test.go
Labels: safe to test

#3703 Allow IsPowered to return negative power percentages.
  components/motor/gpio/basic.go
  components/motor/gpio/basic_test.go
Labels: safe to test, static-ignore-tests

#3710 RSDK-6946: compass heading from vtg messge
  components/movementsensor/gpsutils/nmeaParser.go
Labels: safe to test

#3711 RSDK-7000 Reference selectively overflowing in net appender
  logging/net_appender.go
Labels: safe to test

#3713 Add zero check to power being sent into SetPower
  components/motor/gpio/basic.go
Labels: safe to test

#3706 [RSDK-6975] Leading zeroes in hash seem to break module download
  robot/packages/cloud_package_manager.go
  robot/packages/cloud_package_manager_test.go
  robot/packages/testutils/fake_package_server.go
Labels: safe to test

#3600 add DoCommand for gps position and compass heading in wheeled odom
  components/movementsensor/wheeledodometry/wheeledodometry.go
Labels: safe to test

#3717 RSDK-7019: remove unnecessary mutex in GPS RTK I2C
  components/movementsensor/gpsrtkpmtk/gpsrtkpmtk.go
Labels: safe to test

#3697 [RSDK-6936] Remove RTSP cam
  components/camera/register/register_cgo.go
  components/camera/rtsp/decode.go
  components/camera/rtsp/rtsp.go
  components/camera/rtsp/rtsp_test.go
  components/camera/rtsp/verify_main_test.go
  go.mod
  go.sum
Labels: safe to test

#3721 RSDK-6984: optimizing sourcetable parser
  components/movementsensor/gpsrtkserial/gpsrtkserial.go
  components/movementsensor/gpsutils/ntrip.go
  components/movementsensor/gpsutils/vrs.go
Labels: safe to test

#3722 RSDK-6843 Various updates to clean up debug viz + plan location
  motionplan/planManager.go
  motionplan/rrt.go
  motionplan/tpSpaceRRT.go
  motionplan/tpSpaceRRT_test.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
Labels: safe to test

#3714 RSDK-7009 - Transform camera schema should not be emptyConfig
  components/camera/transformpipeline/transform.go
Labels: safe to test

#3701 RSDK-7008: lock module manager while adding in parallel
  examples/customresources/demos/complexmodule/moduletest/module_test.go
  module/modmanager/manager.go
  module/modmanager/manager_test.go
  module/module_interceptors_test.go
  module/testmodule2/.gitignore
  module/testmodule2/main.go
  module/testmodule2/run.sh
  robot/impl/discovery_test.go
  robot/impl/local_robot_test.go
  robot/impl/resource_manager_modular_test.go
  testutils/file_utils.go
  web/server/entrypoint_test.go
Labels: safe to test

#3716 RSDK-7042 Add better info logs wrt (re)configuration
  module/modmanager/manager.go
  module/modmanager/manager_test.go
  module/version_reconfigure_test.go
  robot/impl/local_robot.go
  robot/impl/local_robot_test.go
  robot/impl/resource_manager.go
Labels: safe to test

#3715 RSDK-7005 Add timeout for closing resources
  robot/impl/resource_manager.go
  robot/impl/robot_reconfigure_test.go
Labels: safe to test

#3719 [RSDK-7029] update controlled spin to handle negatives
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/spin.go
Labels: safe to test

#3685 RSDK-6906 Add StreamTicks to Go SDK
  components/board/board.go
  components/board/client.go
  components/board/client_test.go
  components/board/digital_interrupts.go
  components/board/fake/board.go
  components/board/genericlinux/board.go
  components/board/hat/pca9685/pca9685.go
  components/board/interrupt_stream.go
  components/board/interrupt_streams_test.go
  components/board/numato/board.go
  components/board/pi/impl/board.go
  components/board/pi/impl/digital_interrupts.go
  components/board/server.go
  components/board/server_test.go
  testutils/inject/board.go
  testutils/inject/digital_interrupt.go
Labels: safe to test

#3700 RSDK-6887 - Pass sensor info to StartMappingSessionRequest
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/types/overrides.ts
Labels: appimage, safe to test

#3730 RSDK-7064 - Logger panics if sync called concurrently
  data/collector.go
  logging/net_appender.go
  logging/net_appender_test.go
  services/datamanager/datasync/sync.go
Labels: safe to test

#3728 Rsdk 1155 nick module edit
  go.mod
  go.sum
  gostream/stream.go
  grpc/shared_conn.go
  module/modmanager/manager.go
  module/module.go
  robot/web/stream/stream_test.go
Labels: safe to test

#3718 RSDK-6825 - relative inputs incorrectly place frames
  motionplan/motionPlanner.go
  motionplan/motionPlanner_test.go
  motionplan/tpSpaceRRT_test.go
  services/motion/builtin/builtin_test.go
  services/motion/builtin/move_request.go
  services/motion/builtin/replanner.go
  services/motion/explore/explore.go
Labels: safe to test

#3734 bump golang version in cli job
  .github/workflows/cli.yml
Labels: safe to test

#3732 RSDK-7065: Restart the ffmpeg camera until the robot closes it.
  components/camera/ffmpeg/ffmpeg.go
Labels: safe to test

#3726 RSDK-7035 Do not re-add old resources as part of module `Reconfigure`
  module/modmanager/manager.go
  module/modmanager/manager_test.go
  module/testmodule/main.go
  robot/impl/local_robot_test.go
Labels: safe to test

#3735 [RSDK-7071] Remove lscpu call in camera logger that causes orange pi board to hang
  components/camera/videosource/logging/logger.go
Labels: safe to test

#3738 RSDK-7075 Fix modular resource reconfiguration test
  robot/impl/local_robot_test.go
Labels: safe to test

#3736 RSDK-7011, RSDK-7030 - Update initial config flow
  config/reader.go
Labels: safe to test

#3737 RSDK-6951 - Test Datarace: go.viam.com/rdk/robot.TestSessionManager
  robot/session_manager_test.go
Labels: safe to test

#3720 RSDK-367 prune extraneous methods from `Geometry` interface
  components/base/client_test.go
  components/base/kinematicbase/differentialDrive_test.go
  pointcloud/pointcloud_utils_test.go
  referenceframe/frame_system_test.go
  referenceframe/frame_test.go
  referenceframe/transformable_test.go
  referenceframe/urdf/geometry_test.go
  referenceframe/worldstate.go
  referenceframe/worldstate_test.go
  robot/framesystem/framesystem.go
  services/motion/client_test.go
  services/motion/server_test.go
  services/navigation/builtin/builtin_test.go
  spatialmath/box.go
  spatialmath/box_test.go
  spatialmath/capsule.go
  spatialmath/geometry.go
  spatialmath/geometry_test.go
  spatialmath/point.go
  spatialmath/point_test.go
  spatialmath/sphere.go
  spatialmath/sphere_test.go
  vision/object_test.go
  vision/segmentation/radius_clustering_test.go
  vision/segmentation/segments_test.go
Labels: safe to test

#3739 RSDK-7049 - Do not restart module if in shutdown
  module/modmanager/manager.go
  module/modmanager/manager_test.go
Labels: safe to test

#3729 RSDK-7047 Update drivers to use new StreamTicks method
  components/board/board.go
  components/board/server.go
  components/encoder/incremental/incremental_encoder.go
  components/encoder/single/single_encoder.go
  components/input/gpio/gpio.go
  components/movementsensor/adxl345/adxl345.go
  components/movementsensor/adxl345/adxl345_test.go
  components/sensor/ultrasonic/ultrasonic.go
Labels: safe to test

#3743 [RSDK-7087] Display failed fragment mod updates in robot logs
  config/proto_conversions.go
Labels: safe to test

#3742 DATA-2433 - Add HTTP request to download binary
  cli/data.go
Labels: safe to test

#3741 RSDK-7061 - Pull the mapping mode out of Properties
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/slam/index.svelte
  web/frontend/src/types/overrides.ts
Labels: appimage, safe to test

#3749 shell: support window resize (SIGWINCH)
  cli/client.go
  cli/syscall_no_unix.go
  cli/syscall_unix.go
  go.mod
  go.sum
  services/shell/builtin/builtin.go
  services/shell/client.go
  services/shell/server.go
  services/shell/shell.go
Labels: safe to test

#3748 [RSDK-7112] fix compass heading sensor function
  components/base/sensorcontrolled/movestraight.go
  components/base/sensorcontrolled/sensorcontrolled_test.go
Labels: safe to test

#3745 RSDK-6987: sensor-controlled base clean up of velocities, move straight, and spin files
  components/base/sensorcontrolled/movestraight.go
  components/base/sensorcontrolled/sensorcontrolled.go
  components/base/sensorcontrolled/spin.go
  components/base/sensorcontrolled/velocities.go
Labels: safe to test

#3754 APP-4406 add fsync in unpackFile
  robot/packages/cloud_package_manager.go
Labels: safe to test

#3750 [DOCS-2044] Add code example to robot.TransformPose
  robot/client/client.go
Labels: safe to test
